[2015-03-04 13:38] loicsans commented on #865
I believe, this can be closed?

[2015-03-05 06:26] jonase commented on #1168
## Test plan

### Background

When we export a report using the "Use Question Ids" option we split the cascading answers into separate columns (one for each level). The problem is that the number of columns can change (if the form is republished).

### Test

* Create **three** different cascading resources with different number of levels each (for example 1, 3, and 5 levels)
* Create a form with a

[2015-03-05 07:19] jonase commented on #1166
## Test Plan

* Open an existing survey
* The survey id should not be visible

[2015-03-05 20:15] #1175 closed

[2015-03-08 13:04] andrewmolo opened #1181 "Adding a help tooltip in a Group/Section in the AkvoFLOW dashboard"
At the moment, tooltips are implemented in questions only, however in some questionnaires, a specific rule or request must be applied while answering  questions in a particular section/group.

[2015-03-10 09:05] muloem opened #1182 "Caching of requests causes malfunction with user roles and permissions and reading surveys"
A user is assigned a particular role coupled to a particular folder. But when they access the dashboard, the folders are not visible.  The opposite also happens i.e. when a user had access to certain folders and that access is revoked, the folders still appear on the dashboard.  This is likely related to a caching issue but it is not clear where the caching happens.

[2015-03-11 13:03] mtwestra opened #1183 "Warn user when data is submitted for non-existing forms"
A scenario that has occurred a number of times:
1) a user creates a form
2) the form is send to the device
3) the user makes a copy of the form, and deletes the original form (which we allow, as there is no data for it yet)
4) the devices starts submitting data for the old form.
5) the user doesn't see data coming in for the new form, and concludes that there is something wrong with the device sen

[2015-03-12 09:20] JosjeS opened #1184 "Warning maximum characters help tooltip & question"
Hi All,

if you go over 500 characters in the help tooltip or the question, the question won't save.
I would recommend providing the user with a pop-up noting that there is a maximum of 500 characters allowed.

Below the stack trace for the tooltip error:

<html><head><title>s~akvoflow-2 : uncaught application failure</title><body><pre>
org.waterforpeople.mapping.app.web.rest.security.GaeAuthentic

[2015-03-12 09:47] rumca commented on #1150
closing data script issue

[2015-03-12 09:47] #1150 closed

[2015-03-12 09:47] rumca commented on #1147
closing data script issue

[2015-03-12 09:47] #1147 closed

[2015-03-12 11:05] ichinaski opened #1185 "Review data processing task failures"
# Overview

As seen in a recent support thread, the data processing task servlet got interrupted after 10 minutes and a CancelledException was thrown. This type of exceptions do not result in a task reschedule, therefore the data was never processed again.

We need to solve this scenarios more gracefully, in order to make sure all failures end up in a task reschedule.

[2015-03-12 13:42] ichinaski opened #1186 "Delay cascade version increase until successfully pusblished"
# Overview

We are currently bumping the cascade version number when the *pusblish* request is done. Since this task is an asynchronous process in flow-services, we don't get immediate feedback on the status of this operation. If the publishing results in a failure, the cascade resource will store an invalid version number, referring to a nonexistent file in S3.

A simple solution would be to dela

[2015-03-12 14:34] JosjeS opened #1187 "Moving questions from one form to the other"
Hi All,

A problem occurs when you move a question from one form to another (possible with registration / update surveys).

When you move the questions from one survey to another the following happens:
1. The Form ID does not change but keeps the ID of the form where it was originally created.

This has the following consequences:
1. The moved questions are not seen as part of the form so are not

[2015-03-12 14:43] mtwestra commented on #1187
For the moment, we will just fix the UI to reflect the fact that you can't copy across forms.

[2015-03-12 14:45] mtwestra commented on #1187
Test plan:
1) create a survey with two forms
2) in form 1 create a question group and a question
3) trying to copy or move the question group to the other form should fail
4) trying to copy or move the question to the other form should fail

[2015-03-12 14:58] mtwestra opened #1189 "Release notes 1.8.3"

[2015-03-12 15:12] rumca commented on #1117
Tested with release/1.8.3 and the above test plan passes without issue :+1:

[2015-03-12 15:12] #1117 closed

[2015-03-12 15:41] JosjeS opened #1190 "Disabeling creation of surveys at the first level of the survey tab"
Hi All,

At the moment when you are on the survey tab you can choose to create a folder or a survey.

I think it would be better to disable the option of creating a survey. So you always need to create a folder first before being able to create a survey.
In this way you make sure that all the surveys are in a folder. This makes the dashboard look cleaner and easier to understand.
As at the moment

[2015-03-13 09:23] ichinaski opened #1191 "Implement instance-configuration code request to FLOW services"
# Overview

According to https://github.com/akvo/akvo-flow-services/issues/89, we'll use GAE to handle the last leg in the code generation process, namely the authentication of the request.

This service will receive incoming requests from dashboard (logged-in) users, and will in turn use the instance API key to issue a new, authenticated request to FLOW services. The auth mechanism will be the sa

[2015-03-13 10:56] rumca commented on #1156
tested and works fine on release/1.8.3

[2015-03-13 10:56] #1156 closed

[2015-03-13 10:57] rumca commented on #1166
tested and works as expected on release/1.8.3

[2015-03-13 10:57] #1166 closed

[2015-03-13 11:21] rumca commented on #1177
tested on release/1.8.3 with several cascades and the above test plan passes :+1:

[2015-03-13 11:21] #1177 closed

[2015-03-13 12:13] rumca commented on #1168
tested on release/1.8.3 and everything works as expected.

@jonase I think we need to present an award for "Best Test Plan" at some point :laughing:

[2015-03-13 12:13] #1168 closed

[2015-03-13 12:21] jonase commented on #1168
@rumca, @muloem :smile:  Here's my nomination: https://github.com/akvo/akvo-flow/issues/818#issuecomment-65885873

[2015-03-13 12:26] rumca commented on #1168
@jonase @muloem haha I'll start keeping a shortlist and perhaps we can have an award ceremony at the developer week :+1:

[2015-03-16 15:33] JosjeS commented on #1149
Hi All,

What is the status on this?

[2015-03-16 16:26] rumca commented on #1149
@ichinaski do we just have to update [this](https://github.com/akvo/akvo-flow/blob/develop/GAE/src/org/waterforpeople/mapping/app/web/ApkRedirectServlet.java)?

[2015-03-17 15:55] ichinaski commented on #1149
The latter change is the most sensible one to me. However, not all instances can simply replace that hyperlink, as some partners have not upgraded the app yet.

CC/ @mtwestra

[2015-03-18 12:27] #1189 closed

[2015-03-18 15:12] mtwestra commented on #834
Test plan:
1) on a test instance which has numerous different devices, go to the assignment tab and create a new assignment
2) in the devices list, the devices should appear in alphabetical order.

[2015-03-18 15:27] mtwestra opened #1193 "monitoring tab doesn't show data"
Instance: http://akvoflowsandbox.appspot.com/admin/
survey group: 35 KOTA MALANG
survey: Malang Verif Tahap 2

In the inspect tab, this forms shows data.
However, If I select this survey in the monitoring tab, I get no results.

[2015-03-18 15:43] mtwestra commented on #1170
Test plan
1) create a new cascade resource or select an existing one
2) click on the delete button
3) a confirmation popup should be shown

[2015-03-18 16:38] mtwestra opened #1195 "Deleting cascade resource should check with all questions"
At the moment, when a cascade resource is deleted, we check if any questions in the client datastore have that cascade selected.

However, the client only has a subset of all questions in the local datastore. The client should check if the deletion is allowed in the same way as it checks if deletion of questions is allowed - with a preflight check.

[2015-03-19 08:28] mtwestra commented on #1170
Translations still need to be added. This should happen after all issues merged to develop, to avoid overwriting transifex.

[2015-03-19 09:22] mtwestra commented on #1184
Test plan:
1) create a question
2) put a text longer than 500 chars in the tooltip or text area
3) a red warning should be shown while editing the question
4) when you try to save and the tooltip and question text are too long, a popup with a warning is displayed, and you are unable to save.

[2015-03-19 09:35] mtwestra commented on #1184
The translations still need to be added. This should be done after all issues have been merged, to avoid overwriting transifex

[2015-03-19 10:03] muloem opened #1197 "Enable `All Folders` shortcut for a normal user"
At the moment only a user designated as a `SuperAdmin` will have the short cut `All Folders` in the list of folders that couple a role to a folder.  However, for those organisations that do not require fine grained use of roles and permissions assignments, enabling this shortcut will save a lot of work for the user responsible for assigning user permissions.

[2015-03-19 11:21] mtwestra commented on #1190
@loicsans the line with the button is here:
https://github.com/akvo/akvo-flow/blob/feature/1190-survey-in-folder/Dashboard/app/js/templates/navSurveys/nav-surveys-main.handlebars#L46

[2015-03-19 13:08] mtwestra commented on #1190
Test plan:
1) go to the root folder
2) the 'create survey' button should be greyed out
3) when hoovering over the button, a tooltip should be displayed explaining that a survey can only be created inside a folder
4) go inside a folder
5) the button should not be greyed out, and not show a tooltip when hoovered over.

[2015-03-19 13:21] mtwestra commented on #1130
When a question group is copied, a nullPointerException is thrown by the event code, at at org.akvo.flow.events.EventLogger.logPut(EventLogger.java:161)

[2015-03-19 14:43] mtwestra commented on #857
Test plan 1.
1) create a form with two question groups.  In the first question group, create an option question. In the second question group, create another option question
2) in the second question group, create a question that is dependent on the option question in the first question group
3) in the second question group, create a question that is dependent on the option question in the second

[2015-03-23 08:28] jonase commented on #1197
## Test plan

* Create three users where
  * **adminuser1** has admin rights but is not a superUser (so they can see the users tab) and has some permission set to "All folders and surveys"
  * **adminuser2** has admin rights but is not a superUser and does not have any permission set to "All folders and surveys"
  * **user3** is an ordinary user
* Login as **adminuser1** and edit the user roles an

[2015-03-23 14:21] mtwestra commented on #857
Test plan 2 - testing UI behaviour during copying of question group
1) create a form with a question group containing a lot of questions (so copying will take a while)
2) click the 'copy' button on the question group
3) click the 'paste' button
4) the new question group should display a 'copying' indicator, and the 'show questions' link should be disabled
5) when the copying indicator disappears,

[2015-03-24 08:15] m1025 opened #1203 "Remove _copy from question ID after duplicating a survey."
**problem**
After duplicating a form,  the text in the question ID is accompanied by _**_copy**_

![screen](https://cloud.githubusercontent.com/assets/1729842/6797746/c7e160cc-d216-11e4-8481-b5d625ec2015.png)

**Proposed Solution**
After duplicating a survey, the questions do not come with the text _**_copy**_. Is it possible to use the same logic in the question ID?

[2015-03-24 08:41] jonase commented on #1186
## Test plan

* Make sure that publishing cascade resources still work as expected.

[2015-03-24 09:19] joycarpediem opened #1204 "Displaying Identifier and Display Name for non-monitoring surveys"
Issue:
A user can configure questions to "Use as Data Point Name" for both monitoring and non-monitoring surveys .
In the RAW data report these fields are exported only for monitoring surveys.
Same is the case for the 12 digit alpha-numeric identifier.

Expected:
Both Identifier and Display name is exported for all surveys

[2015-03-24 09:25] jonase commented on #337
@mtwestra @iperdomo I'm not sure what's left to do here. The commits from 2013 is already in the develop branch.

[2015-03-24 12:23] mtwestra commented on #337
@jonase, if the commits provide the expected behaviour described above, I guess we are done

[2015-03-24 15:06] muloem opened #1205 "RAW Data Import to wrong target survey"
### Steps to reproduce

1. Download a RAW DATA report for Survey a survey A.

2. Make some edits e.g delete responses in one column.

3. Under `Data > Data Cleaning` tab, select a different target survey B and upload the edited report from step 2 above.

4. Download the RAW DATA report from survey B.

**Expected:** The report downloaded in the last step contains a number of empty rows correspondin

[2015-03-25 06:50] mtwestra commented on #919
Proposed fix:
1) let users select between mapbox and google base maps
2) default map is a setting on the instance
3) use mapbox as default

[2015-03-25 07:03] mtwestra opened #1206 "Support ; separated csv files in cascade upload"
We should also support ; separated files in cascade upload.

[2015-03-25 10:57] ichinaski opened #1207 "Update wording: Merge redundant entities into a single name"
# Overview

We should aim at simplifying the naming conventions throughout the platform. A recent case was the naming issue the _application, instance, organisation_ (all referring to the same entity) caused.

[2015-03-25 21:01] ichinaski commented on #1071
**Test plan:**
* Edit & (re)publish any survey
* Ensure the `<application>` entity contains the property *app*, which relates to the unique id for the instance.

[2015-03-26 07:41] mtwestra opened #1209 "Incorporate codes in cascade resource"
At the moment, we don't serialize cascade codes into the cascade resource. To make this consistent with the options, we should:
1) serialize the codes in the cascade resource
2) return the codes together with the values in the answers provided by the device.

[2015-03-26 08:58] andrewmolo opened #1210 "Manage Device Group Pop Not Showing Properly"
**Problem**
After maximising the browser, when you click Manage Device Groups (Under Devices tab)  the pop up doesn't fit properly in the browser leading to poor user experience.

![screen shot 2015-03-26 at 11 48 19](https://cloud.githubusercontent.com/assets/1729842/6842982/39602186-d3af-11e4-9e95-c6c812b4285d.png)

**Expected**
The pop up to fit
 properly

**Proposed Solution**
Implement respon

[2015-03-26 12:33] muloem commented on #1185
### Test Plan

#### Test 1: No file present or file empty
1. Invoke the URL for the instance `http://[host]/processor/non-existent-file.zip`

2. Check the logs to see that the error message reflects an empty or non-existent file

#### Test 2: Unable to reach file

#### Test 3: Corrupted Zip file

[2015-03-26 14:17] Lissyvn opened #1212 "Show alphabetical order in dropdown surveys"
Show alphabetical order in dashboard at data tab > choose survey to display

![screen shot 2015-03-26 at 15 15 58](https://cloud.githubusercontent.com/assets/4972211/6848061/3e62f9b2-d3cb-11e4-836c-30a140380078.png)

[2015-03-27 09:23] muloem opened #1213 "Truncate the display name if it is over 500 characters"
We have a number of device processing errors that are caused by having `surveyedLocaleDisplayName` larger than 500 characters.  This prevents the survey responses from being saved to the datastore.

Proposed solution: Truncate the display names to 500 characters to enable storing them.

[2015-03-27 09:50] muloem commented on #1213
## Test Plan

1. Create a survey with a number of free text questions

2. Assign the survey to a device and submit responses to these questions that are longer than 500 characters in length

3. Submit the survey

4. Check that the survey has been correctly processed without errors. and that the display name is shown truncated.

[2015-03-30 22:47] rumca commented on #337
fixed Aug 2013 - closing this

[2015-03-30 22:47] #337 closed

[2015-03-31 10:34] muloem opened #1215 "Replace `path` with Object ID for roles and permissions authorisation"
The implementation of roles and permissions uses the `path` of a `Survey` or `Folder` as the means to verify the authorisation of a user against that entity.  However, the paths are brittle as they break of an upper level `Folder` or `Survey` is renamed.  The consequence of this change is that users in some cases no longer have access to the `Survey` or `Folder` entities, and in other cases the us

[2015-03-31 10:42] muloem opened #1216 "Add User Management permissions"
Related to the issue #1115.  The second phase of resolving this issue involved adding new permissions for user management.

* Create and Modify Users
* Delete Users

The _view users_ permission is implicit (but does not make sense by itself), i.e. if you are able to create, modify or delete you automatically have view rights.

[2015-03-31 14:23] muloem commented on #393
@mtwestra we can close this as its addressed in #1123

[2015-03-31 14:23] #393 closed

[2015-03-31 15:02] muloem opened #1217 "`QuestionGroup` does not resolve all dependent questions correctly when copying `Survey`"
When copying a `Survey`, copying of `QuestionGroup` entities is executed as an asynchronous task for each `QuestionGroup`.  This results in the failure of the system to correctly resolve a dependency of a `Question` when it depends on another one in a different `QuestionGroup` than the one being copied.

Steps to reproduce:

1. Create a survey and add two question groups

2. Create an option quest

[2015-03-31 20:47] rumca commented on #1190
Test plan passes with release/1.8.4

[2015-03-31 20:47] #1190 closed

[2015-03-31 21:02] rumca commented on #1184
The above test plan passes fine.

however @mtwestra two comments about this, one which seems a bit of an edge case and one which is pretty minor.

* When text longer than 500 chars has been entered in the tooltip or text area, a user clicks to save, the popup appears as expected, but then if a user clicks to perform another action - such as inserting another question, another group, or navigating

[2015-03-31 21:17] rumca commented on #1197
The above test plan passes with release/1.8.4

[2015-03-31 21:17] #1197 closed

[2015-03-31 21:20] rumca commented on #1187
the above test plan passes as described :+1:

[2015-03-31 21:20] #1187 closed

[2015-03-31 21:31] rumca commented on #1170
above test plan passes as described with release/1.8.4

[2015-03-31 21:31] #1170 closed

[2015-03-31 21:32] rumca commented on #834
the above test plan passes as described :+1:

[2015-03-31 21:32] #834 closed

[2015-03-31 21:35] rumca commented on #1071
The above test plan passes as described - survey xml contains the app property. Bootstrap specific behaviour will be tested on flow-mobile issue.

[2015-03-31 21:35] #1071 closed

[2015-04-01 10:05] ghost opened #1218 "Perform survey integrity check at publish time"
When we publish a survey, we should at that time check it's integrety:

1) questions that are dependent on a question that comes later
2) dependent questions dependent on non-existing options
3) presence of cascades
4) etc.

[2015-04-01 13:23] rumca commented on #1213
The above test plan passes as described :+1:

[2015-04-01 13:23] #1213 closed

[2015-04-01 13:29] rumca commented on #1185
Test 1 test plan passes as described :+1:

[2015-04-01 13:29] #1185 closed

[2015-04-01 13:48] rumca commented on #1186
the above test plan passes as described :+1:

[2015-04-01 13:48] #1186 closed

[2015-04-01 14:08] rumca commented on #857
both the above test plans pass as described with release/1.8.4 :+1:

[2015-04-01 14:08] #857 closed

[2015-04-01 14:09] muloem opened #1221 "Adding permissions to existing UserRole entities via remote API"
When a new permission is added to the existing ones, there is need to update roles on multiple instances so that the user facing functionality of the system is not changed, e.g. a new permission is added and is not assigned to users, which results in them no longer being able to perform an action that they could perform before the new permission was added.

[2015-04-01 15:19] rumca commented on #1115
Most of the above test plan passes fine however there's an issue with viewing details on the `data > monitoring` tab for the `Regular User` (works for superAdmin users).

When a `Regular User` with the `DataDeletionRole` selects a monitoring survey on the `data > monitoring` tab and then selects `view details` a 403 is returned: `GET http://uat1.akvoflow.org/rest/survey_instances?surveyedLocaleId=

[2015-04-01 15:35] rumca opened #1223 "Navigating away from Assignment Screen always sends a /survey_assignments/ request"
When the following steps are performed:
- Visit `Devices > Assignments List`
- Click `Create New Assignment`
- Don't fill out any details
- Navigate away from screen (via any method)

A request is sent to /rest/survey_assignments regardless of whether Save is clicked or not (and thus there's no validation on the details). This results in a null pointer at:

[code]

[2015-04-01 15:40] rumca opened #1224 "Even when it fails, processor always sends a fileProcessed message to the dashboard"
ref #1185

Calls to http://uat1.akvoflow.org/processor?action=submit&fileName=non-existent-file.zip always seem to return a successful message in the dashboard - regardless of their actual status:

![screen shot 2015-04-01 at 16 38 12](https://cloud.githubusercontent.com/assets/3003031/6944782/8c03a01a-d88d-11e4-8057-3f60366a50f3.png)

[2015-04-02 14:54] rumca commented on #1115
Issues resolved - closing :+1:

[2015-04-02 14:57] rumca commented on #1184
both issues above resolved - closing this issue :+1:

[2015-04-02 14:57] #1184 closed

[2015-04-07 09:58] mtwestra opened #1228 "Release notes 1.8.4"

[2015-04-07 10:08] #1228 closed

[2015-04-07 13:36] muloem opened #1229 "Improvements to application build and deployments code"
* Cleanup unnecessary statements in the build scripts
* Remove files that are not required for system function from the deployment

[2015-04-08 08:23] joycarpediem opened #1230 "Export cascade resource codes in RAW data report"
While creating a cascade you can define codes for individuals values.
However when this cascade in used in a form and you export the RAW data report for that form, the cascade codes are not displayed.
Ex: http://services.akvoflow.org/report/maxfoundation.akvoflow.org/ac73e6bb-de5c-46af-8d7f-f625f44e42c3/RAW_DATA-6081021.xlsx

[2015-04-08 09:06] joycarpediem opened #1231 "Publish button does not get enabled on changing translations"
Steps:
Open a published form
Open for basics and then Manage translations
Change or add new translations.
Save translations.

Issue:
The Publish button on the form is not enabled.

[2015-04-08 20:18] muloem commented on #1203
@mtwestra This depends on the scope of question ID uniqueness. If it is still system-wide as I recall, then this solution cannot work.  The options left are either to not copy the question ID or leave it with the *_copy* suffix.

[2015-04-09 09:17] muloem commented on #1229
@iperdomo @jonase @mtwestra @ichinaski
There are some jars I am removing with this change so you will probably need to clean them out from your build path in eclipse otherwise you'll get some errors. I will post a list here.

[2015-04-09 10:16] muloem commented on #1229
For the time being this is the list.  I tried to remove the larger ones first.

- war/WEB- INF/lib/gt- api- 2.6.5.jar
- war/WEB- INF/lib/gt- main- 2.6.5.jar
- war/WEB- INF/lib/gt- metadata- 2.6.5.jar
- war/WEB- INF/lib/xalan- 2.7.1.jar
- war/WEB- INF/lib/xerces.jar
- war/commons- logging- 1.1.1.jar
- war/gt- main- 2.6.5.jar
- war/gt- referencing- 2.6.5.jar
- war/xbean.jar

[2015-04-10 09:55] muloem opened #1232 "Clarify `Use question id as table headers` option"
Under the `Reports > Export Reports` tab, there is the option *Use question ID as table headers* option.  This seems to cause confusion as users do not understand exactly the consequence of this option.

Proposed solution: revise the text to reflect that this option is for exporting data for use in external systems.

[2015-04-10 12:27] mtwestra opened #1233 "Allow overwrite cascade resource when new csv file is uploaded"
Consider the following sequence of events:
1)  a user creates a cascade resource by uploading a csv
2) the user uses this cascade in surveys
3) the user makes some corrections in the csv, and want to upload it

There is currently no way to do this, apart from deleting the cascade resource, creating a new one, and upload that.

Proposed solution:
Let users upload a csv file to replace an existing c

[2015-04-10 12:42] #1171 closed

[2015-04-10 14:36] mtwestra commented on #1231
Test plan:
1) create a survey and publish it
2) add some translations and save them
3) the survey should now be in 'unpublished' status again.

[2015-04-10 14:42] mtwestra commented on #1203
@muloem question-IDs are only unique inside a survey (meaning, at most among the forms inside a single survey), so this should not be a problem.

[2015-04-10 14:50] jonase commented on #1206
Test plan is at the flow-services issue: https://github.com/akvo/akvo-flow-services/issues/91#issuecomment-91555608

[2015-04-10 14:51] mtwestra commented on #1203
We will take the simple approach and not add the "_copy". For copying a survey, this will work fine.

The only occasion where this might not work is when we copy a form inside a survey, something we do not support at the moment. However, it is not clear in what case people would want to have two copies of a form in a single survey.

Furthermore, this edge case could be tackled by the foreseen 'sur

[2015-04-10 14:53] mtwestra commented on #1203
Test plan:
1) create a survey, and include some questionIds
2) copy the survey
3) the question ids in the questions should be identical to the source questions.

[2015-04-13 03:50] muloem commented on #1217
### Test Plan

1. Create a survey and add two question groups

2. Create an option question in group 1 with a number of options.

3. In the first group, create a free text question and make it dependent on one of the options in the question from step 2.

4. In the second group, create a free text question and make it dependent on the option question from Step 2.

6. Within the survey copy the seco

[2015-04-13 06:57] jonase commented on #1160
## Test plan

Go to the data cleaning tab

* You should see date filtering options for downloading data
* Download a report without filtering
  * Check the report, no date filtering should have been applied
* Download three reports:
  * `From` date specified
  * `To` date specified
  * `From` and `to` date specified
    * Check that the downloaded reports contains the correct date ranges
* Pick on

[2015-04-13 07:50] jonase commented on #1212
## Test plan

Check that surveys are sorted alphabetically in hierarchical survey selection dropdowns

[2015-04-14 10:39] iperdomo opened #1238 "All request to "FLOW services" must contain application id parameter"
The current way to identify an instance is via the s3bucket, e.g. `https://akvoflowsandbox.s3.amazonaws.com`. We want to identify the instance by _application id_, for that, all request to FLOW services must contain the instance application id.

[2015-04-14 13:55] iperdomo commented on #1238
## Test plan

* Using DevTools network panel, make sure that requests to FLOW services include `appId` parameter

* Report generation

![appid2](https://cloud.githubusercontent.com/assets/178474/7138140/a59db8b8-e2be-11e4-9d8d-21c0d065de7e.png)

* Bulk upload

![appid1](https://cloud.githubusercontent.com/assets/178474/7138146/b413e7a0-e2be-11e4-9691-71e782aa7596.png)

[2015-04-15 12:29] muloem commented on #1215
### TODO list

- [ ] Revise domain model, `Surveys`, `SurveyGroup` and `SurveyInstances` entities
    - [ ] Create, Read, Update, Delete Entities

- [ ] Create, Update user authorization based on Object Id

- [ ] Filter all `GET` requests internally
    - [ ] /rest/survey_instances
    - [ ] /rest/survey_groups
    - [ ] /rest/surveys

- [ ] Revise RequestUriVoter functions for authorisation check

[2015-04-16 09:08] muloem commented on #1232
### Test Plan

1. Go to the `Reports > Export` Reports tab

2. Under the *Export raw data report section* there should be a new button `Show Advanced Settings`

3. Click on this button and check that the drop down shows the checkbox for *exporting reports to use in external systems*

4. Select a report and tick the option for *exporting reports for use in external systems*

5. Navigate away from t

[2015-04-16 13:46] rumca commented on #1206
closing this one - will keep the other one open

[2015-04-16 13:46] #1206 closed

[2015-04-16 14:37] iperdomo commented on #1130
## Test plan

* Event notification disabled
  * If the `enableChangeEvents` property key is not prent in `appengine-web.xml` system properties, or its value is `false`, the event notifiction is disabled.
  * All the operations in the application must not reflect any new entity in `EventQueue` kind
* Event notification disabled
  * Set `enableChangeEvents` to `true` in `appengine-web.xml` propertie

[2015-04-17 02:31] joycarpediem opened #1244 "Issues with the monitoring popup"
Steps:
Create some monitoring data.
Click on "View Details" for a data point in the Monitoring tab.

Issue:
The registration form is not displayed.
In the dialog that opens up, the Next link is always enabled irrespective of response count.
If you click on Next, the data points table in the background gets refreshed

[2015-04-17 12:03] muloem opened #1245 "Arrows for navigating in calendar do not always show"
The arrows that enable navigating months on the calendar do not always show. So far this has been observed when using the Firefox (35.0.1) browser .

![screen_shot_2015-02-24_at_10 12 49_am](https://cloud.githubusercontent.com/assets/533336/7201684/60afdf3a-e50a-11e4-8bb2-8a54bc9639c3.png)

[2015-04-20 14:30] joycarpediem commented on #1204
The device identifier (set in the app) also needs to be exported as part of the RAW data report

[2015-04-21 11:42] ichinaski opened #1247 "JSON serialization"
# Overview

https://github.com/akvo/akvo-product-design/issues/80

[2015-04-21 14:05] rumca commented on #1115
@iperdomo @jonase  with release/1.8.5 (and presumably v1.8.4 though I thought it was working at the time) the only people that can currently delete data are super_admins. Regular users who have been assigned the `DATA_DELETE` permission see a 403 when they try and delete data:

[code]

Note that the delete option is however shown correctly.

[2015-04-22 10:16] joycarpediem opened #1248 "Date field for RAW data export is pre-populated"
Steps:
Go to Data-->Inspect Data
Filter for some data based on From and To dates.
Now navigate to Reports-->Export reports

Issue:
The date fields for RAW data is pre-filled with the values entered in Inspect data

[2015-04-23 10:30] jonase opened #1251 "Data deletion enhancements"
@muloem Currently the backend does not correctly check for data deletion permission. If a user doesn't have the `DELETE_DATA` permission set they could still circumvent the permission system with a direct call to the rest api. The `delete` button is correctly handled (i.e., not visible when DELETE_DATA permission is not set)

See #1115

[2015-04-23 11:52] jonase opened #1252 "Strip commas from folder/survey/form names and codes"

[2015-04-23 12:05] jonase commented on #1252
## Test plan

For a folder, survey, form:

* Create a title with one or more commas
* Save the folder/survey/form
* Check that the comma is replaced by a single space character.

[2015-04-23 21:04] rumca commented on #1221
closing this, as stand alone issue to dashboard release

[2015-04-23 21:04] #1221 closed

[2015-04-23 21:59] rumca commented on #1115
403 issue resolved and permissions now working as expected with release/1.8.5 (at least in the dashboard) :+1:

[2015-04-23 21:59] #1115 closed

[2015-04-23 22:13] rumca commented on #1160
@jonase most of the above test plan passes without issue. I think there's a slight issue with the last point though. When I filter for a sub set of the data by date, make some alterations, upload that again, then export a fresh raw report (without dates specified) I only get the data I just cleaned and not the full set. It's still present and unaltered in the dashboard though - as I can view it on

[2015-04-23 22:14] rumca commented on #1212
test plan passes as described

[2015-04-23 22:14] #1212 closed

[2015-04-23 22:15] rumca commented on #1229
everything still seems to build and deploy correctly with release/1.8.5 so closing this for now

[2015-04-23 22:15] #1229 closed

[2015-04-23 22:16] rumca commented on #1232
test plan passes as described :+1:

[2015-04-23 22:16] #1232 closed

[2015-04-23 22:22] rumca commented on #1238
Tested the various elements of the dashboard which interact with flow services (including data cleaning and cascades) and `appId` seems to be present in all the requests :+1:

[2015-04-23 22:22] #1238 closed

[2015-04-23 22:25] rumca commented on #1252
Test plan passes :+1:

[2015-04-23 22:25] #1252 closed

[2015-04-23 22:29] rumca commented on #1231
the above test plan passes as expected with release/1.8.5 :+1:

[2015-04-23 22:29] #1231 closed

[2015-04-23 22:40] rumca commented on #1217
Step 5 of the above test plan does not pass successfully. When you copy the second group, the contained questions are copied correctly however their dependencies are not preserved.

[2015-04-24 03:49] jonase commented on #1160
@rumca Was the date fields perhaps prepopulated as per https://github.com/akvo/akvo-flow/issues/1248?

[2015-04-24 08:19] rumca commented on #1130
The above test plan passes fine now. I can see the events being created, there are no errors on the GAE side, just not 100% sure that they're being recorded correctly at the db level - as I'm not sure how to check this.

[2015-04-24 08:19] #1130 closed

[2015-04-24 08:28] rumca commented on #1160
@jonase aha! That was what was kind of what was occurring:

![screen shot 2015-04-24 at 09 22 52](https://cloud.githubusercontent.com/assets/3003031/7315294/1aef048a-ea64-11e4-9bc5-82fac8951fa8.png)

I uploaded the cleaned data, navigated to the messages tab to see if it was processed successfully, and then navigated back to the data cleaning tab to download the report again. The date filter field

[2015-04-24 08:52] jonase commented on #1160
ok, so this is similar to the #1248 issue. I have a fix for that so I'll open a PR

[2015-04-24 15:57] rumca opened #1256 "Browser crashing/freezing when actions performed with slow connection"
@jonase @iperdomo @muloem @mtwestra not sure if there's an easy/elegant way to fix this or not.

After Tim reported some issues with freezing & crashing in core chat I've been trying to reliably reproduce them. I haven't been able to replicate the freezing scrolling that was initially experienced, but I have managed to crash the browser a few times. The below steps aren't 100% guaranteed, as it de

[2015-04-25 06:52] jonase commented on #1248
This issue is related to #1160

[2015-04-27 06:16] jonase opened #1259 "Copying a question does not set createdDateTime and lastUpdateDateTime"
To reproduce:

* Copy a question
* The `createdDateTime` and `lastUpdateDateTime` properties are missing (this can be checked in the datastore viewer)

Another symptom of the missing properties is that the EventLogger will fail with an `NPE`.

[2015-04-27 07:30] jonase commented on #1259
## Test plan

* Copy an existing question
* Check that the `createdDateTime` and `lastUpdateDateTime` properties are set correctly (this is probably easiest to check directly in the datastore)
* Check that the corresponding event is properly recorded in the EventQueue

[2015-04-27 08:44] rumca commented on #1217
Test plans pass as expected now :tada:

[2015-04-27 08:59] rumca commented on #1160
Issue fixed, test plan passes :+1:

[2015-04-27 08:59] #1160 closed

[2015-04-27 09:18] rumca commented on #1248
Issue no longer occurs :+1:

[2015-04-27 09:18] #1248 closed

[2015-04-27 09:23] rumca commented on #1259
The `createdDateTime` and `lastUpdateDateTime` properties are set correctly, not sure how to check the event is properly recorded - I don't see any errors though and the count is incremented so assuming it's OK :+1:

[2015-04-27 09:23] #1259 closed

[2015-05-01 13:08] iperdomo opened #1261 "Data script for getting the number of submitted forms and data points"
A data script to get the number of submitted forms (`SurveyInstance`) and data points (`SurveyedLocale`), required for PPP report

[2015-05-06 12:05] ichinaski opened #1263 "Add Tetum language"
Add Tetum language for survey/question translations.

[2015-05-06 14:34] ichinaski commented on #1263
**Test plan:**
* Enable Tetum translations in a form
* Publish the aforementioned form
* Ensure the published XML form contains the question translations

*Note: It is a known issue that neither the form title nor question group translations are reflected into the serialized XML*

[2015-05-07 09:48] iperdomo opened #1265 "Akvo Flow - Keycloak integration"
We want to use Keycloak as SSO solution for Akvo products. Akvo FLOW can be the first to migrate to this authentication service.

[2015-05-07 15:10] muloem opened #1266 "Save button is activated when clicking on `Show Advanced Settings`"
When looking at or setting the registration survey of a monitored survey, we click on the `Show` button next to *Survey Basics* and then `Show Advanced Settings` button.  When the latter button is clicked, `Save` button is activated.  This should **not** be the case.  Expected behaviour is to activate the `Save` button only if the value of the *registration form* is changed.

[2015-05-07 15:22] muloem opened #1267 "The wrong form is shown as registration form"
Under the `Show Advanced Settings` for a monitored group, we are able to see a drop down list that should initially (i.e. before the drop down box is clicked) show the currently set registration form for a monitored group. However, the drop down instead shows the list of forms for a survey in alphabetical order and initially shows the first form (alphabetically ordered) in the list as the registra

[2015-05-07 15:39] muloem commented on #1267
### Test Plan

1. Create a monitored survey with forms named *B Form*, and *C Form*  Set *B Form* as the registration survey

2. Save the changes

3. Add a new form named *A Form* and save changes.

4.  Check on the list of registration forms and verify that *B Form* is still the registration form

5.  Reload the dashboard and verify that *B Form* is still set as the registration form

[2015-05-08 06:43] muloem opened #1269 "Default language for survey is auto updated when not set to `English`"
Steps to reproduce:
1. Create a survey and edit basic information about the survey
2. Set the language to `Español` and save changes
3. Navigate away from the survey and then return to it and click on `Show` survey basics.
4. The default language changes to `English` and the `Save` button is activated.

[2015-05-08 11:56] muloem opened #1271 "Release Notes 1.8.5.2"

[2015-05-11 11:40] #1271 closed

[2015-05-12 15:25] muloem commented on #1251
@jonase I made some tests making direct calls to the API for a normal user in one scenario with and another without permissions and it works as expected.

[2015-05-12 15:59] rumca commented on #1261
closing this as it's a data script

[2015-05-12 15:59] #1261 closed

[2015-05-12 16:05] rumca commented on #1263
the above test case passes as described :+1:

[2015-05-12 16:05] #1263 closed

[2015-05-12 16:23] rumca commented on #1267
The above test plan passes as described :+1:

@muloem perhaps something to consider for a future release is changing it so that the registration form is the default selected form when entering a monitoring survey? At the moment I think the first form added when creating the survey is pre-selected.

[2015-05-12 16:23] #1267 closed

[2015-05-12 16:30] rumca commented on #1247
testing covered by https://github.com/akvo/akvo-flow-services/issues/98#issuecomment-100937697

[2015-05-12 16:30] #1247 closed

[2015-05-13 08:56] andrewmolo opened #1273 "Buttons ADD DEVICE TO GROUP & REMOVE DEVICE FROM GROUP Not showing"
**Problem**
Under Devices tab, action buttons **ADD DEVICE TO GROUP** & **REMOVE DEVICE FROM GROUP**  do not show  after scrolling down the device list.

![screen shot 2015-05-13 at 11 40 09](https://cloud.githubusercontent.com/assets/1729842/7607048/0ca7d3e0-f967-11e4-9673-e4750b953766.png)
![screen shot 2015-05-13 at 11 40 18](https://cloud.githubusercontent.com/assets/1729842/7607049/0ca8a5fe-f

[2015-05-13 14:49] mtwestra opened #1274 "Protect against caching using nonce"
We have seen a number of occasions in which a cached result was served by a proxy server, giving unwanted results. To counter this, we should include a nonce into all api calls to GAE.

This could be achieved by adapting the overridden ajax function in rest-adapter-v2-common.js, at https://github.com/akvo/akvo-flow/blob/develop/Dashboard/app/js/lib/models/FLOWrest-adapter-v2-common.js#L110

[2015-05-14 15:30] iperdomo opened #1277 "Release Notes v1.8.6"
Release Notes for v1.8.6

[2015-05-14 18:00] rumca opened #1279 "Copying Monitored surveys doesn't set up registration form correctly"
@muloem noticed this on the most recent round of testing - it's vaguely related to #1267

When you copy a monitoring survey the registration form is not set up correctly in the copied survey. For example I see the below in a copied survey (neither form is set as a reg form):

![screen shot 2015-05-14 at 18 37 36](https://cloud.githubusercontent.com/assets/3003031/7637952/768f5078-fa69-11e4-9435-bf

[2015-05-26 13:17] #1277 closed

[2015-05-26 13:56] muloem commented on #1217
Reopening issue.  The current implementation still has problems and after discussions with @iperdomo, we will implement the copying of surveys as a task and eliminate the tasks for copying survey groups. that way we can preserve or correct dependencies survey wide.

[2015-05-27 08:04] jonase opened #1280 "Use CartoDB for Dashboard maps"

[2015-05-27 10:03] janagombitova opened #1281 "Unify use of vocabulary throughout the dashboard and app"
- Create a question → question type → 2 different words used among the types of questions: “details” and ”settings”. Use Settings

- Data --> Monitoring --> The "Display Name" in the table should be "Data Point Name" (to keep a consistency in vocabulary). Same in the filter tabs.

[2015-05-28 14:24] muloem commented on #706
Closing this as it was implemented under issue #855

[2015-05-28 14:24] #706 closed

[2015-05-28 14:36] muloem commented on #646
This may no longer be relevant as we have moved to a different UI. Closing.

[2015-05-28 14:36] #646 closed

[2015-05-28 14:38] muloem commented on #647
The drop down list is reimplemented differently in #1053.

[2015-05-28 14:38] #647 closed

[2015-05-28 14:53] mtwestra commented on #919
The map is placed in the didInsertElement function, in https://github.com/akvo/akvo-flow/blob/develop/Dashboard/app/js/lib/views/maps/map-views-common.js#L50

We can use https://gist.github.com/crofty/2197701

[2015-05-28 15:06] mtwestra commented on #919
I have added some code that shows the google layer, but the points are not showing yet. This is probably due to the way the layers are handled. The points should be added here:  https://github.com/akvo/akvo-flow/blob/develop/Dashboard/app/js/lib/controllers/maps-controllers-common.js#L35

[2015-05-28 20:15] muloem opened #1282 "Multiple `SurveyedLocale` entities created for the same `surveyedLocaleIdentifier`"
During submission of survey responses, a new `SurveyedLocale` entity is created for every `surveyedLocaleIdentifier` that is present in the data files.  However, in cases where a device is offline during data gathering and then all data submitted in one big batch to the backend, multiple `SurveyedLocale` entities are created for the same `surveyedLocaleIdentifier`.  As a result we have multiple fo

[2015-05-29 09:36] jonase opened #1283 "Maps tab does not show the entire map"
To reproduce (in chrome or firefox):

* Go to the survey tab
* Scroll down a little
* Go to the maps tab
  * The map is also scrolled down which hides some of the controls
* Go back to the survey tab and scroll to top
* Go back to the maps tab
  * The map renders fine

[2015-05-29 12:33] loicsans commented on #1283
I really cannot replicate this, on any browser.

[2015-06-01 10:25] muloem opened #1288 "Add stack trace to device file processing for old releases"
The cardno instance that has not yet been migrated to the 1.8.x dashboard still generates a lot of device file processing errors.  Cross checking the files indicates that the files have been correctly processed, however, we would like to add a stack trace to verify that the source of error is the same and is one that is negligible.

[2015-06-03 09:37] ichinaski commented on #1282
**Test plan:**
* Download a monitored group in the app
* Enable airplane mode in the device
* Create a bunch of datapoints, each of which containing several form instances (a reg. form plus a few regular forms)
* Disable airplane mode, and let all the data get synced into the dashboard.
* Ensure no duplicate datapoints (same identifier) are found in the dashboard

[2015-06-03 10:04] muloem commented on #808
Closing this. It is the same as and shall be fixed by #1282

[2015-06-03 10:04] #808 closed

[2015-06-03 10:09] muloem commented on #586
@mtwestra this is related to mapping so should probably be closed right?

[2015-06-03 11:03] ichinaski opened #1290 "Accept optional fields in JSON-formatted responses"
# Overview

The current Jackson set up fails when an unexpected (undeclared) field is encountered. For gradual upgrades in our schema, and keeping in mind the miscoordination between some of the FLOW instances (currently only Cardno), we should have a slightly more flexible approach, simply ignoring extra fields found in the `data.json` file.

This means the a non up-to-date FLOW instance, can saf

[2015-06-04 10:56] ichinaski commented on #1290
**Test plan:**
* Run tests in `akvo-flow/tests/java/src/org/akvo/flow/test/DataSerializationTest.java`

[2015-06-04 21:22] ichinaski commented on #1290
See https://github.com/akvo/akvo-flow/pull/1292#issuecomment-109055858

[2015-06-04 21:22] #1290 closed

[2015-06-05 07:43] mtwestra opened #1293 "Implement copying question group from one form to another or a full form from one survey to another"
In some cases, people have common sections in forms that they want to repeat. In those cases, it would be very beneficial to be able to copy a question group from one form to another.

[2015-06-05 10:12] mtwestra commented on #1074
@emmanuel, this is already done, right?

[2015-06-05 11:06] muloem commented on #1074
@mtwestra yes this is already done and can be closed.

[2015-06-05 11:06] #1074 closed

[2015-06-05 11:58] mtwestra commented on #1191
@ichinaski is this still relevant?

[2015-06-05 12:00] mtwestra commented on #1182
@muloem, How is this being solved now? Was the idea to use a nonce, or to use https?

[2015-06-05 12:03] mtwestra commented on #1149
@ini, we can link it to app2. Cardno don't use this way to get at the app as far as I know.

[2015-06-05 12:05] mtwestra commented on #1129
Duplicate of #1097

[2015-06-05 12:05] #1129 closed

[2015-06-05 12:10] mtwestra commented on #1052
@iperdomo On which page do these buttons appear?

[2015-06-05 12:13] janagombitova opened #1294 "Layout of edit data points - screen is broken"
In the screen view the 'previous record' and the 'next record' buttons are next to each other and not on the opposite sides of the screen. Plus, the delete button is not aligned.

![screen shot 2015-06-05 at 14 10 40](https://cloud.githubusercontent.com/assets/12456965/8005675/1074e980-0b8d-11e5-92b9-8573b579eb87.png)

[2015-06-05 12:21] mtwestra commented on #194
Duplicate of #864

[2015-06-05 12:21] #194 closed

[2015-06-05 12:33] muloem commented on #1182
@mtwestra via https. this should eliminate the caching.

[2015-06-05 13:33] mtwestra commented on #1182
@muloem, And is this already in place for all the API endpoints?

[2015-06-05 13:33] mtwestra commented on #1274
duplicate of #1182

[2015-06-05 13:33] #1274 closed

[2015-06-05 14:04] muloem commented on #1182
@mtwestra Yep.  Once we enable it for the instance, every request that is made will be via SSL.  We should probably think of a way to make sure requests that are *not* https should be redirected to https.

[2015-06-08 16:30] ichinaski opened #1295 "Fix geocells computation"
# Overview

For newly created surveyed locales the corresponding geocells are not being computed.
This is a regression introduced in 1.8.6

[2015-06-08 16:52] ichinaski commented on #1295
Since the latitude and longitude properties are already set in the SurveyedLocale, this conditional never holds true, therefore the `if` block is never entered https://github.com/akvo/akvo-flow/blob/release/1.8.7/GAE/src/com/gallatinsystems/surveyal/app/web/SurveyalRestServlet.java#L269-L270

The (quickest) solution is to check for geocells property status, rather than lat/lon comparisons, essenti

[2015-06-08 17:38] ichinaski commented on #1295
**Test plan:**
* Create new datapoints using the *datapoint location* flag in a geo question.
* Create new datapoints without using the *datapoint location* flag (yet having a geo question)
* Repeat previous step using 1.13.X app.

In all cases the resulting datapoints should contain the **geocells** property set (visible in the datastore viewer) and the points should be shown in the map.

[2015-06-08 23:03] rumca commented on #1295
The above test plan passes as described :+1:

@ichinaski is there a functional difference between questions with the datapoint location flag and those without? I hadn't previously been checking this.

[2015-06-08 23:03] #1295 closed

[2015-06-08 23:05] rumca commented on #919
@jonase to test this on UAT do I need to redeploy with a config change?

[2015-06-09 08:35] ichinaski commented on #1295
@rumca the main difference is that such a flag explicitly sets the location of the datapoint, whereas the lack thereof computes a response lookup, trying to get the value of the geoquestion (if any). I just wanted to make sure both scenarios were covered.

[2015-06-09 08:37] rumca commented on #1295
:+1:

[2015-06-09 08:44] jonase commented on #919
@rumca

Yes, you will need a config change+redeploy

To get google maps layers instead of mapbox add

    <property name="useGoogleMapsLayers" value="true"/>

to `appengine-web.xml` and to set a specific region bias (in this case India) use:

    <property name="googleMapsRegionBias" value="in"/>

[2015-06-09 09:25] iperdomo commented on #919
@jonase i wonder if the property should be something more like: `mapsProvider` where we have, `mapbox`, `google`, `cartodb` as possible values ... this is something for next release though

[2015-06-09 10:27] jonase opened #1297 "Add mapsProvider system property"
Now that we use both mapbox and google maps as configurable maps providers (https://github.com/akvo/akvo-flow/issues/919) and soon also Cartodb (https://github.com/akvo/akvo-flow/issues/1280) we could unify the configuration into a single `mapsProvider` property instead of `useCartodb`, `useGoogleMaps` etc.

[2015-06-09 10:28] rumca commented on #919
Behaviour seems to work as intended - map provider is configurable and the region bias results in differing maps being shown :+1:

[2015-06-09 10:28] #919 closed

[2015-06-10 10:00] mtwestra commented on #1182
@muloem, cc @janagombitova , we have found some more evidence of this.
Situation: user creates some forms and saves them, then deletes a form, and then reads the forms again.
Browser: Internet Explorer 11
Behaviour: the form is still visible, while on on other computers, the form is gone.
Observations: I used the developer tools to check what is happening. There is a 'always refresh from server' b

[2015-06-10 12:58] janagombitova opened #1298 "Detail view in Monitoring does not show the difference between forms"
In Monitoring once the user decides to view details of one update the popup screen shows the list of the ID, Survey, Submitter, Device Collected and Action. In the Survey column all the forms appear to be the same form filled in multiple times. However that is not the case and one of the forms is the Registration form. This is not visible in the Survey path because the name is not displayed proper

[2015-06-10 13:02] muloem commented on #1293
@mtwestra In these cases we should think what to copy over and what not to copy over.  For example if we have one question A as a dependent question to question B which is in a group that is not being copied over as well, then we have a broken state. Would this motivation, i.e, having common questions to reuse, not fit more in the idea of a library of questions to select from to include in a surve

[2015-06-10 13:04] muloem commented on #828
@mtwestra did you already push the code done so far for this one?

[2015-06-10 19:59] muloem commented on #1193
@mtwestra can you reproduce this issue on a live production server?

[2015-06-10 20:01] muloem opened #1299 "`Next` button on Data > Monitoring tab does not function"
When clicking on the `Next` button on the `Data > Monitoring` tab, the only thing that happens is the page getting refreshed and the same results show up.

[2015-06-10 22:34] rumca commented on #1217
Re-using the above test plan - behaviour as expected :+1:

[2015-06-10 22:34] #1217 closed

[2015-06-10 22:38] rumca commented on #1282
Test plan passes as described :tada:

[2015-06-10 22:38] #1282 closed

[2015-06-11 06:39] muloem commented on #194
I removed the milestone to avoid confusion

[2015-06-11 06:44] muloem commented on #1129
I removed the milestone to avoid confusion with issues that were resolved and closed.

[2015-06-11 06:49] muloem opened #1300 "Release Notes 1.8.7"

[2015-06-11 08:11] jonase opened #1302 "Add check for missing survey when recomputing clusters"

[2015-06-11 08:34] jonase commented on #1302
## Test Plan

* recompute the clusters with `/webapp/testharness?action=recomputeLocaleClusters`
* Check the app engine logs that it succeeds without `NullPointerExceptions`

[2015-06-12 13:37] muloem commented on #1205
Same issue reported in #408

[2015-06-12 14:02] muloem opened #1304 "Improve Error Feedback for data import"
When exporting or importing raw data reports, we sometimes encounter errors that are not reported clearly to the users and that eventually lead to support requests. e.g when uploading a raw report file to the wrong survey, the message returned is "Spreadsheet processed" leading the user to believe that the file has been correctly processed, which is not the case.  For these cases we need to give b

[2015-06-13 08:47] muloem opened #1305 "`AddUsers` data script"
A new data script to add new users or update the roles (as defined previously `ADMIN`, `USER`, `SUPER_ADMIN`) of existing users

[2015-06-13 09:07] #1300 closed

[2015-06-14 10:32] muloem commented on #1215
@loicsans @Kiarii @mtwestra @janagombitova @iperdomo @jonase

When we delete a `Survey` or `SurveyGroup` the associated permission will no longer be valid as its associated to the ID.  I'd like opinions on the preferable course of action in this case?  Delete the associated permission, or highlight it with a message that the associated entity has been deleted?

[2015-06-14 11:08] muloem commented on #1305
I mixed up the tagging with issue numbers! Ignore last 5 commits

[2015-06-14 12:10] iperdomo commented on #1215
In traditional RDMBS you can describe the preferred action, `ON DELETE CASCADE`, `ON DELETE RESTRICT` See: http://www.postgresql.org/docs/current/static/ddl-constraints.html#DDL-CONSTRAINTS-FK

We have a history of making harder to delete entities, you need to first clean up all child objects and then you can delete the parent. If a user wants (and confirms) that he/she wants to delete an entity,

[2015-06-14 13:46] jonase commented on #1215
I agree with Iván that we should delete the associated permission. It's difficult to imagine a use case where a "dangling" permission would be useful and the deleted entity id will never be reused (AFAIK).

[2015-06-15 10:01] ichinaski opened #1307 "Skip QAS referencing an invalid question"
# Overview

While ingesting form responses, we need to ensure all the referenced questions are found in the datastore. If a form is submitted after its has been altered (removing some questions), and subsequently sent to the server, we need to skip invalid responses.

[2015-06-15 10:13] ichinaski commented on #1307
**Test plan:**
* Create a form and sync it in the app, preferably w/o assignments.
* Delete a question from the form, but do not sync it back onto the app.
* Submit an instance of the synced form.
* The data ingestion should skip the invalid question (checking the logs should suffice, but you can check the datastore to be 100% sure the QAS is not there).

[2015-06-15 10:15] mtwestra commented on #828
@muloem, no, not yet. In need to clean it up and merge it to the current develop. That will take about 0.5-1 day of work

[2015-06-15 13:41] muloem opened #1309 "Visualize non-publised cascading resources"
While a user is editing cascading resources it is impossible to tell which has been published and which is still in the _editing_ state.  We need to create a visual cue to indicate this status to the user.

[2015-06-16 10:39] ichinaski commented on #269
## Dashboard integration

* Add `repeatable` flag on question groups: This is a fairly trivial action but depends on some aesthetic changes. For the moment being there's a temporary implementation that does the trick to set this flag, though is just squeezed in the existing layout. Perhaps @loicsans has a better understanding of this UI issue.

* Code management: Issue **authenticated** requests t

[2015-06-16 12:05] muloem commented on #912
@mato74 @jonase The last point in this issue needs looking into.  My first test shows that indeed there are extra (undocumented) fields showing up. Regarding the documentation issues for this and the other issues created by @JordenVerwer, we will update it.

[2015-06-16 12:12] muloem commented on #911
Looking up question groups by their id is currently not supported because for our current use cases, it is sufficient to retrieve all question groups by `surveyId` (as is supported now).

[2015-06-16 15:24] muloem opened #1310 "Arrange cascade nodes in alphabetical order"
When creating cascading resources (via `CSV` import or dashboard), we currently order the cascades on the dashboard by the internal `ID` assigned to the entities, whereas users are able to arrange the cascade nodes alphabetically in the mobile app.  As an improvement to user experience, we will implement functionality to sort the cascade nodes alphabetically.

[2015-06-17 09:51] JosjeS commented on #1149
Hi All, what is the status on this?
Think it would be a good change to make because at the moment clicking on 'download app' gives you the old app if that was made for the dashboard and an error if there is only a new app.

[2015-06-17 15:14] muloem opened #1311 "Automated newsletter subscription"
When creating users, we should automatically subscribe them to AkvoFLOW newsletter via the mail chimp API.

[2015-06-17 15:16] muloem opened #1312 "Remove redundant `UserAuthorization` entities"
When a user is assigned a certain role,folder pair the corresponding `UserAuthorization` entity is created.  However, when a user is deleted, these entities are not deleted as well.  This results in items in the roles list that are not associated with any user but cannot be deleted.

[2015-06-22 11:05] ichinaski commented on #1183
**Test plan:**
* Issue a *GET* request to the `/devicenotification` endpoint, providing one or many *formId* query parameters. For example:
[code]
* Expected behaviour:
    * Non-numerical values should be just ignored
    * Deleted (or nonexistent) forms will be present in the response, under the `deletedForms` JSON array.

[2015-06-22 12:08] joycarpediem opened #1314 "Cardno: Find button not visible in the inspect data tab"
Steps:
Login to indiiwatsan2.akvoflow.org and go to Data-->Inspect Data

Issue:
The FIND button is chopped off and is partially visible. This makes it particularly difficult to use on tablets
![screen shot 2015-06-22 at 5 37 15 pm](https://cloud.githubusercontent.com/assets/4419787/8281411/60d5ca22-1905-11e5-9c69-b7808983a46b.png)

[2015-06-22 14:13] joycarpediem commented on #1314
Test plan:
<h1>1.</h1>
Step:
Open inspect data tab in Chrome and firefox.

Expected:
The find button should be clearly visible

<h2>2</h2>
Steps
Open developer tool and try it for some tablets

Expected:
The FIND button should not get cropped

[2015-06-23 03:50] joycarpediem commented on #1281
In the Inspect data tab, we have an ID column which displays the surveyInstance ID.
The same value is displayed in the column "Instance" in the RAW data spreadsheet.

It should be ID in both the ploces.

[2015-06-23 03:55] joycarpediem commented on #874
Duplicate of #1314

[2015-06-23 08:59] iperdomo commented on #1149
## Test plan

* Use the link "Download App" in the bottom of the dashboard, you should get the version 2 series of the `.apk`

[2015-06-24 11:36] ichinaski opened #1318 "Single app"
Feature design: https://github.com/akvo/akvo-product-design/issues/79
### Dashboard implementation:
- Code management: Issue **authenticated** requests to flow-services, and perform CRUD operations for managing codes. This feature belongs initially on the _Devices_ tab, though it's UI/UX is pretty much the same as the API key management in the _Users_ tab. For bringing about this task's auth part,

[2015-06-24 12:20] janagombitova opened #1319 "Restrict 'Use as data point name' and 'Use as data point location' only for registration forms in monitored surveys"
Currently the user can create a data point name based on a property in any form. However, when monitoring is enabled, with the registration form you fill in the general information that identifies the data point for later monitoring. So, the data point name should also be created from this form only.

[2015-06-24 12:37] joycarpediem commented on #1319
We need to make sure that as part of the this fix we do not strip the display name functionality from stand alone non - monitoring survey forms

[2015-06-24 14:26] ichinaski commented on #1288
@muloem perhaps we can close this issue?

[2015-06-24 14:42] muloem commented on #1288
Yeah. Makes sense. We will probably migrate cardno soon anyway.

----- Original Message -----
From: Iñigo <notifications@github.com>
To: akvo/akvo-flow <akvo-flow@noreply.github.com>
Cc: Emmanuel Mulo <emmanuel@akvo.org>
Sent: Wed, 24 Jun 2015 16:26:28 +0200 (CEST)
Subject: Re: [akvo-flow] Add stack trace to device file processing for old releases (#1288)

@muloem perhaps we can close this issue?

[2015-06-24 14:49] #1288 closed

[2015-06-24 15:47] ichinaski commented on #1011
**Test plan:**
* Edit a question. Selecting a `cascade` type should display the datapoint name checkbox.
* Ensure the value is saved.

*Note: the app requires no futher tests. It automatically handles any type of question with this flag*

[2015-06-24 22:21] muloem commented on #1011
@ichinaski doesn't this mean the display name will include the pipe separated list that represents a cascade response?  that may not be very readable for the user and probably also not show well on the display right?

[2015-06-25 07:47] janagombitova commented on #1011
@mtwestra Do we have use case for this? I agree with @muloem that this will not provide a readable data point name for the users on the devices.

[2015-06-25 08:50] joycarpediem commented on #1011
I think even pipe separated values will be "sufficiently readable". Users generally use the Order by Name feature so that the records are neatly stacked up.
Display names almost always are" admin regions - respondents name" and cascades are almost always used for admin regions .So without them showing up in the diaplay name I think we are missing a critical piece.

[2015-06-25 09:08] ichinaski commented on #1078
If the registration survey is changed, the subsequent survey sync requests to `/surveymanager?action=getAvailableSurveysDevice` will contain the new registration survey id.

As far as I understand, this should automatically happen in the backend. (This is pretty easy to check just issuing a few requests to the URL I pointed out). However, the current app implementation will not update the form, si

[2015-06-25 10:19] ichinaski commented on #1078
I can confirm the assignment is updated once the registration form is modified (and saved). @mtwestra shall we close this issue and handle it at https://github.com/akvo/akvo-flow-mobile ?

[2015-06-26 08:34] janagombitova commented on #1319
As well as for data point location

[2015-06-26 10:12] muloem commented on #1011
What if we only display the last element in the pipe separated list? After all that is the point right; to drill down to a specific value.

----- Original Message -----
From: Joy Ghosh <notifications@github.com>
To: akvo/akvo-flow <akvo-flow@noreply.github.com>
Cc: Emmanuel Mulo <emmanuel@akvo.org>
Sent: Thu, 25 Jun 2015 10:50:38 +0200 (CEST)
Subject: Re: [akvo-flow] Enable 'use as data point name

[2015-06-29 07:32] janagombitova commented on #998
Added to 1.8.9 milestone, because we need to implement this for the pricing needs as well.

[2015-06-29 13:46] muloem commented on #1011
@ichinaski had a chat with @joycarpediem @janagombitova and conclusion is that if we include this we should make it consistent with the way display names are currently displayed, i.e. pipes in the cascade should be replaced by hyphens.

[2015-06-29 13:59] ichinaski commented on #1011
@muloem That would basically break the *packed responses* format consistency, right? We use pipes for all compound responses at the moment.

Also, and this is just a personal opinion, I think it could make sense to display both pipes and hyphens, as they have a very different meaning: users are already accustomed to seeing hyphens in datapoint names, and pipes is compound responses. Additionally,

[2015-06-29 14:08] muloem commented on #1011
@ichinaski I left out an important detail which is replace the pipes *only* in the `displayName` field. So the consistency here was referring to the visual consistency. The value stored in responses remains pipe-separated.

[2015-06-29 14:13] ichinaski commented on #1011
Okay.

This also means updating the GAE test harness I presume (datapoint name recalculation).

[2015-06-29 14:14] muloem commented on #1011
Yep.

[2015-06-29 14:16] ichinaski commented on #1011
I can handle both changes. This is for the next release I understand?

[2015-06-29 14:18] muloem commented on #1011
Yeah given we would like to have the next RC this afternoon, makes sense to push it by one release.  We can go ahead and merge it into develop later this week though.

[2015-06-29 14:22] ichinaski commented on #1011
Cool, will do :+1:

[2015-06-29 14:55] muloem commented on #1210
@loicsans can you point out to @rumca what to look out for?

[2015-06-29 14:59] rumca commented on #1210
@muloem I've seen this before, so can make sure it's fixed during testing for the release :+1:

[2015-06-29 15:01] rumca commented on #1210
guess we can close https://github.com/akvo/akvo-flow/issues/1042 with this fix also

[2015-06-29 15:14] muloem commented on #1210
Great. Infact you can probably already close it with a comment referring to this issue. :+1:

[2015-06-29 15:17] #1042 closed

[2015-06-29 15:20] muloem commented on #1042
Resolved with #1210

[2015-06-29 20:25] iperdomo commented on #1319
@janagombitova @joycarpediem Not sure if is relevant, but the _Use as display name_  for non monitoring surveys was requested in issue #735 Initially it was not possible. The changeset: https://github.com/akvo/akvo-flow/commit/24cf4db8bbf5611cb6ca9e944155a9fcb6689592

[2015-06-30 06:24] joycarpediem opened #1322 "View forms permission allows to edit it"
Steps:
1. Create a role that only has permission to view forms.
2. Assign a user with this role for a survey

Issue:
The user can still edit the forms.

http://flowhelp.akvo.org/discussions/problems/5542-user-tab-issue_fxb-suraksha

[2015-06-30 10:26] muloem commented on #1322
Closing this one.  An issue already exists #1124

[2015-06-30 10:26] #1322 closed

[2015-07-01 07:37] ichinaski opened #1323 "Add codes to cascade questions"
# Overview

Cascade resources **do** store codes already in GAE. However this properties are not reflected in the serialised version of the resource (SQLite database), therefore the app cannot submit the code as the value.

**Actions:**
* All the required data is already present in the datastore, thus is up to FLOW services to add the codes in the SQLite database. In this step no action is needed

[2015-07-01 12:26] muloem opened #1324 "Validate surveys for correctness when publishing"
~~At the moment its possible to create and publish a form with no questions and a single question group.  We should cross check that there is at least one question before a form can be published.~~

I have updated the title of this issue to a more generic validation of surveys before publishing.  There are a number of issues that need to be checked before publishing a survey to ensure that it is i

[2015-07-02 06:22] janagombitova commented on #1323
Duplicate of #1209

[2015-07-02 06:22] janagombitova commented on #1209
Duplicate of #1323

[2015-07-02 06:22] #1209 closed

[2015-07-02 07:13] janagombitova opened #1325 "Confirmation of deleting a survey and a folder"
When the user deletes a form a screen pops up to confirm the deletion. However, when the user deletes a survey, there is no confirmation for this action. Secondly, we aim to have a consistent user experience in FLOW, so if we ask for confirmation when deleting a form, this confirmation should happen when deleting a survey and folder.

Steps:
1. Add a pop up screen when the user decided to delete a

[2015-07-02 08:10] janagombitova commented on #1309
https://github.com/akvo/akvo-product-design/issues/93

[2015-07-02 08:31] rumca commented on #1149
the above test case passes as described :+1:

[2015-07-02 08:31] #1149 closed

[2015-07-02 14:23] rumca commented on #1210
Pop-up now allows for scrolling when the viewport is not large enough to display everything.

@loicsans not sure if it's worth the effort but perhaps it could be good to provide some sort of visual indication that users can scroll when required (from the below screen shot it's not immediately apparent):

![screen shot 2015-07-02 at 10 30 40](https://cloud.githubusercontent.com/assets/3003031/84792

[2015-07-02 14:23] #1210 closed

[2015-07-03 11:33] muloem opened #1326 "Validation for cascade import"
When uploading a cascading `CSV` file, one of the UI elements to select is a checkbox specifying whether or not the file contains codes along side the cascade elements.  However, it seems this checkbox is not very clearly visible to the user and when not selected results in failed validation of the cascade file.  We need to redesign the UI part to make all elements visible

<img width="862" alt="s

[2015-07-06 10:26] janagombitova commented on #1294
@gabemart can you please take a look at this. It is a small fix, Loic already worked on it. Thanks

[2015-07-06 10:28] janagombitova commented on #1193
test data issue

[2015-07-06 10:28] #1193 closed

[2015-07-06 12:21] janagombitova commented on #1319
@iperdomo For surveys which do not have Monitoring enables, this issue will not change anything. The user will be able to create a data point/display name (as Joy mentioned above)

In surveys which have Monitoring enabled, the user creates the data point via the registration survey, thus for me it makes sense that the display name/data point name and the data point location are created based on an

[2015-07-06 12:26] janagombitova commented on #1319
@iperdomo For surveys which do not have Monitoring enables, this issue will not change anything. The user will be able to create a data point/display name (as Joy mentioned above)

In surveys which have Monitoring enabled, the user creates the data point via the registration survey, thus for me it makes sense that the display name/data point name and the data point location are created based on an

[2015-07-06 14:00] Kiarii commented on #1319
the suggestion above might serve the purpose - i.e. by default, every survey's first form is the data point name/registration and whatever questions correspond to this form can be added freely as needed. other forms can be added below the data point registration form irrespective of whether the survey is monitoring or not

[2015-07-06 14:12] gabemart commented on #1294
@janagombitova I can't look at this until I get my FLOW dev environment set up. That should happen later this week. Is the end of the week soon enough to deal with this?

[2015-07-06 22:37] rumca commented on #1183
the above test plan passes as described :+1:

[2015-07-06 22:37] #1183 closed

[2015-07-06 22:43] rumca commented on #1307
The above test plan passes as described :+1:

[2015-07-06 22:43] #1307 closed

[2015-07-07 09:27] joycarpediem commented on #1283
@jonase , can you help @gabemart to simulate this issue

[2015-07-07 10:19] ichinaski opened #1327 "FLOW-Caddisfly: APK download link"
# Overview

Although the ultimate goal is to host both apps in Play Store, the existing S3-based solution can be a first step forward. The idea would be to display a *Download Caddisfly app* link in the FLOW dashboard, similar to the FLOW download link we show now.

Since the Caddisfly app doesn't chance across instances, the APK deployment script doesn't need to be modified at all, and the APK li

[2015-07-07 10:59] muloem opened #1328 "Highlight form publishing status"
At the moment when a form is published we fade away and disable the `PUBLISH` button.  This does not seem to be enough of a visual cue for the users that the form is published.  We need to revise the UI to make it clearer to the user.

Compare the screenshots below: first unpublished, second published

<img width="1265" alt="screen shot 2015-07-07 at 12 56 10" src="https://cloud.githubusercontent.

[2015-07-07 13:03] ichinaski opened #1329 "SurveyedLocale deletion bug"
# Overview

SurveyedLocale deletion happens implicitly while deleting SurveyInstances: If the removal of a SurveyInstance leaves no more instances associated with the locale, the locale gets deleted.

Or not.

Depending on the `geoCells` presence in the SurveyedLocale, the deletion step can be fully skipped: https://github.com/akvo/akvo-flow/blob/develop/GAE/src/com/gallatinsystems/gis/map/MapUtil

[2015-07-07 13:16] muloem commented on #1329
@ichinaski one question.  I know it happened for old data, but isn't it a bug for a `SurveyedLocale` *not* to have `geocells` set?

[2015-07-07 13:17] ichinaski commented on #1329
Not necessarily. What if a survey doesn't contain any `GeoQuestion`? This is in fact the case that has triggered the issue

[2015-07-07 13:26] muloem commented on #1329
This is also true. On the other hand we have many parts of our code really pegging a `SurveyedLocale` to the existence of a geo question or geo information.  So if indeed we accept that a `SurveyedLocale` is not necessarily pegged to a place then we may have to do a thorough review of how its used all over.

[2015-07-07 14:34] ichinaski commented on #1329
**Test plan:**
* Create a survey without a `GeoQuestion`.
* Add a datapoint
* Check the *Data > Monitoring* tab, and ensure both the datapoint and survey instance are displayed.
* Delete the datapoint:
    * Re-fetching all the datapoints for this survey should not show the datapoint anymore.

[2015-07-07 15:25] rumca commented on #1329
The above test plan passes as described :+1:

[2015-07-07 15:25] #1329 closed

[2015-07-07 15:32] rumca commented on #1294
@gabemart we can probably close this issue as well once this is address https://github.com/akvo/akvo-flow/issues/809

[2015-07-07 15:51] joycarpediem commented on #1251
@muloem , is this still an issue ?

[2015-07-07 15:55] joycarpediem commented on #1298
Duplicate of #1244

[2015-07-07 15:56] #1298 closed

[2015-07-07 16:44] ichinaski commented on #1191
@mtwestra sorry I missed your comment. No, this is not relevant anymore, as the code generation request will be directly issued to flow-services. Closing this issue for now.

[2015-07-07 16:44] #1191 closed

[2015-07-08 07:26] joycarpediem commented on #1146
@mtwestra , since we do not display surveyID anymore , is this issue still relevant ?

[2015-07-08 07:42] muloem opened #1331 "Release Notes 1.8.8"

[2015-07-08 07:47] #1331 closed

[2015-07-08 07:52] joycarpediem commented on #1146
since we do not display surveyID anymore, closing the issue

[2015-07-08 07:52] #1146 closed

[2015-07-08 09:13] janagombitova commented on #872
Currently in the Data tab > in Inspect data the user selects a folder > survey > form and can narrow down his view of collected data by defining:
- The time of data collection (Collected from + to),
- Device ID
- Submitter name

![screen shot 2015-07-08 at 11 11 33](https://cloud.githubusercontent.com/assets/12456965/8566989/1ef4a68c-2562-11e5-8fa7-cf5a6cae6fd6.png)

What we need to do is add anot

[2015-07-08 10:00] Kiarii commented on #872
If the structure need not change, we can add a the "Instance ID" field or dropdown at the beginning or end of the bar with Device ID & Submitter name depending on the 'weight' that the Instance ID bears. We should also consider moving towards Submitter's name instead of SUBMITTER'S NAME; all capped text are harder to read than the alternative - e.g. http://www.designfiles.net/blog/reasons-avoid-ca

[2015-07-08 11:57] ichinaski commented on #1323
Sample response representing the first approach (`code` property):

[code]

[2015-07-08 13:41] janagombitova commented on #872
@Kiarii "Are you yelling at me?!" Love it.

I like your proposal to adding the Instance ID in the same bar as the Device ID and Submitter's name. I would add it in the front, as it is also the first column in the raw data reports and the users actually use the instance ID from here.
- First they export the collected data, find problems, check the instance ID from the raw data report and then come

[2015-07-08 14:44] ichinaski commented on #1323
The decision we have taken is to use JSON-encoded values for complex responses (and eventually, everywhere): https://github.com/akvo/akvo-product-design/blob/master/FLOW/arch/ADR-004.md

[2015-07-09 13:42] janagombitova commented on #1181
@andrewmolo Can you be more specific? Where are you missing the tooltip? To what word + action is it related to?

[2015-07-10 06:16] andrewmolo commented on #1181
@janagombitova Just like questions in a form, they have a tooltip where one can add additional information, there were cases where questions in a specific group need a tooltip too. e.g. "In this group of questions, kindly ask & observe." This eliminates possibility of copy pasting tooltip in each question in that group.

[2015-07-10 09:28] janagombitova opened #1332 "Include in-line help in the dashboard in more places"
Related to https://github.com/akvo/akvo-product-design/issues/88

[2015-07-10 10:38] janagombitova commented on #1181
@andrewmolo I see. Thanks for the explanation. This can be added in with the overall re-design of survey creation. Relevant for https://github.com/akvo/akvo-product-design/issues/89

[2015-07-10 10:45] gabemart commented on #1283
@joycarpediem @jonase I can replicate on OSX 10.10.3 using either Chrome or Safari

On Ubuntu, neither Chrome or FF show this behavior.

I will look into the cause

[2015-07-10 11:07] gabemart commented on #1245
@muloem I am not able to replicate in FF on Ubuntu or OSX. I suspect this issue may be caused by the sprite failing to load - i.e. it may be caused by a network problem or timeout

[2015-07-10 12:06] gabemart commented on #1283
After some more testing, this is issue is *not* triggered by browser or operating system, as I previously thought, but on viewport size. I can reliably reproduce on a 1200px * 700px viewport

[2015-07-13 07:30] joycarpediem commented on #1063
Duplicate of #450

[2015-07-13 07:30] #1063 closed

[2015-07-13 07:38] joycarpediem commented on #1044
@loicsans /@Kiarii, maybe we can remove the "Add new cascade " button on the top right as we have two buttons doing the same thing on the same page and bring the text box in the middle of the page. Also i've seen users struggling with the top right text box. Thoughts ?

[2015-07-13 07:45] joycarpediem commented on #945
This seems to be fixed. @mtwestra / @loicsans, any background to this ?

[2015-07-13 07:47] joycarpediem commented on #922
@gabemart , i don't think this issue exists anymore. Can you please verify and close this.

[2015-07-13 07:54] #874 closed

[2015-07-13 07:57] jonase commented on #899
This issue has been resolved but remained open

[2015-07-13 07:57] #899 closed

[2015-07-13 08:05] joycarpediem commented on #846
How about we add a time zone selector and print out the times is a much more "readable" format.

[2015-07-13 08:08] joycarpediem commented on #837
With the email reports feature,this is not an issue anymore. @mtwestra , i think we can close this

[2015-07-13 08:14] joycarpediem commented on #809
@gabemart , can you verify that all the issues mentioned here were fixed as part of #1294 ? If yes, then we can add this to the fixed list

[2015-07-13 08:17] ichinaski opened #1333 "Rethink datapoint name association"
# Overview

The JSON-encoded response format defined [recently](https://github.com/akvo/akvo-product-design/blob/master/FLOW/arch/ADR-004.md) will hinder datapoint name generation, since every value will need to look up the underlying, specific format, in order to fetch the name token.

As this feature as not been scaling well (multiple support threads related to it, need for an extra test harness

[2015-07-13 08:21] joycarpediem commented on #795
@muloem , don't think this is an issue post re-design. Can you please verify and close if working as expected

[2015-07-13 08:26] #801 closed

[2015-07-13 08:37] joycarpediem commented on #719
After the Survey UI redesign, this issue does not exist anymore.

[2015-07-13 08:37] #719 closed

[2015-07-13 09:03] Kiarii commented on #1044
@janagombitova could you comment on the priority of this issue

I think the button in the middle should be removed and on Clicking the "+ Add New Cascade" the user should be taken to the New/Edit Cascade creation page; the in between function "naming the cascade and saving it" so one can edit the cascade is also unnecessary and makes the user journey an extra step longer.

The " + Add New Cascade

[2015-07-13 10:06] joycarpediem commented on #807
Duplicate of #812

[2015-07-13 10:06] #807 closed

[2015-07-13 10:13] janagombitova commented on #1205
FLOW Services release

[2015-07-13 10:22] janagombitova commented on #1006
Add "(OPTIONAL)" between Question ID: and the "?" Help text button

<img width="974" alt="screen shot 2015-07-13 at 12 20 37" src="https://cloud.githubusercontent.com/assets/12456965/8647594/a347121c-2959-11e5-819c-8ed0e1c2c750.png">

[2015-07-13 11:01] iperdomo commented on #1052
@mtwestra @joycarpediem this is the _Users_ tab, the list of users. Attached a screenshot.
![users](https://cloud.githubusercontent.com/assets/178474/8648229/3a5d38f2-295f-11e5-87b9-30030c236e0f.png)

[2015-07-13 11:44] janagombitova commented on #1044
I agree with Kiarii, that we should remove the button in the middle. All our "add" buttons are located in the top right corner and we should try to maintain the same location of actions throughout the entire tool.

Second, I also think the "naming" step is unnecessary.

Third, I also agree Kiarii with you also on the double emphasis we put on add with the word and the + icon. But if we change it h

[2015-07-13 11:50] janagombitova commented on #846
I agree, I think, in general, we need to allow the users to select if they want their reports to have a more "user friendly/readable" format of collected data or a raw data format. This can also then include the option for the user to decide whether they want the IDs to be part of the reports or not. Same with codes.
These questions can be part of a Report Settings functionality.

[2015-07-13 13:11] iperdomo commented on #846
@joycarpediem @janagombitova when using _question id_ as column header is **not** for users, is for integration with other systems. It shouldn't be a user friendly format, it should be a system _parseable_ format.

[2015-07-13 14:10] janagombitova opened #1334 "Email subject and file name improvements"
Currently when the user exports multiple reports at the same time, the way we send the emails does not make it easy for the user to see and distinguish which email is for which report. The current email looks like:

**Sender name:** noreply
**Subject:** Your report is ready to download
**Email text:**
Greetings,

You can download your report from < link >

Regards,
Akvo FLOW

**File name:** RAW_DA

[2015-07-13 14:58] joycarpediem commented on #1266
Fixed Duplicate

[2015-07-14 10:00] gabemart commented on #1283
There are two issues with the map:

The first issue is that when navigating to the maps tab with i) a viewport less than about 750px high and ii) a scrollbar position that is not at the very top, the map controls are not visible.

http://gfycat.com/LeadingHardGreatdane

The second issue that when hitting a zoom control on a viewport less than about 750px high, the page scrolls such that the map co

[2015-07-14 11:18] janagombitova commented on #1283
@joycarpediem Is this a compelling enough issue to invest time in it knowing that these things will be fixed with the cartoDB integration? So my question is, can this issue stand for one more month?

[2015-07-14 15:49] joycarpediem commented on #1283
@janagombitova , i agree it is not a critical enough issue and we'll be redesigning the page shortly anyways

[2015-07-15 07:24] janagombitova commented on #1311
Connected to https://github.com/akvo/akvo-product-design/issues/49

[2015-07-15 09:35] ichinaski opened #1335 "Skip QAS referencing an invalid question"
# Overview

Although this problem will not arise on new data (see https://github.com/akvo/akvo-flow/issues/1307), the datapoint sync process does trigger a NPE when fetching an invalid response.

The quick fix here is to skip any response referencing a null/invalid question. Additionally, any survey instance pointing to a null/invalid survey id must be skipped as well.

[2015-07-15 10:59] jonase commented on #872
## Test plan

1. Go to the Inspect Data tab
2. Select a survey
3. Use the input box "Survey instance id" to find a specific instance for that survey

[2015-07-15 11:21] gabemart commented on #1245
With help of @rumca was able to reproduce on some pages. This issue is also covered by #809

[2015-07-15 11:25] gabemart commented on #809
@joycarpediem No, there are still issues with some assets not appearing.

E.g. on Create Survey > Add Form > Manage Notifications the "Expires" field does not correctly show the calendar arrow icons, as mentioned in #1245

The assets 404. e.g.

http://akvoflowsandbox.appspot.com/admin/css/custom-theme/images/ui-bg_highlight-hard_75_dadada_1x100.png

http://akvoflowsandbox.appspot.com/admin/css/cus

[2015-07-16 06:15] jonase commented on #1204
## Test plan

When generating a report the following columns should be present for both monitoring and non-monitoring surveys:

<img width="322" alt="screen shot 2015-07-16 at 09 11 28" src="https://cloud.githubusercontent.com/assets/101023/8716550/185ff0f8-2b9b-11e5-9ece-5ef34518ead6.png">

[2015-07-16 10:11] ichinaski commented on #1335
**Test plan:**
* Submit data for a monitoring survey
* In the datastore, manually create a SurveyalValue with the same **surveyedLocaleId** and **surveyInstanceId** as the ones that just came in, but setting both the **surveyQuestionId** and **questionType** to `null`. (Simply copy one value, and delete these 2 properties from the new one).
* Attempt to sync the whole survey in the app. No unexpec

[2015-07-16 11:47] gabemart commented on #450
The issue is caused by long text labels, which with the current code are positioned so that some of the label is outside the SVG element. Anything outside the SVG won't be rendered.

As far as I know, the SVG spec doesn't provide any general purpose way of wrapping text to a certain line length. As a result, I think it will be difficult to come up with a general purpose wrapping solution that prev

[2015-07-16 12:25] iperdomo opened #1340 "Fix SurveyedLocale inconsistencies"
Create a _data script_ to:

* Add `surveyGroupId` to `SurveyedLocale` entities
* Remove `SurveyedLocale` entities that are associated to non existent `Survey`

[2015-07-16 12:30] muloem commented on #1215
### User Roles and Permissions Test Plan

**Pre-test preparation**

1. You will need at least two browsers to test or use multiple private browser sessions to isolate the user login information in each.

2. You need three separate Google accounts for testing.

3. You need to create/define a super user. Take an existing user account (`TestUser1`) and convert to a super admin via the data store.(set

[2015-07-16 12:31] muloem commented on #1215
@rumca the test plan for this is taken from #818 and I will make some adaptations for the newly created permissions e.g data cleaning.

[2015-07-16 14:45] gabemart commented on #1004
My proposed implementation:

<img width="824" alt="screen shot 2015-07-16 at 15 43 29" src="https://cloud.githubusercontent.com/assets/2589977/8726345/891a21fc-2bd1-11e5-8016-f1ec29cbaf5b.png">
<img width="404" alt="screen shot 2015-07-16 at 15 43 48" src="https://cloud.githubusercontent.com/assets/2589977/8726346/891adae8-2bd1-11e5-98e5-3daa634b1afe.png">
<img width="750" alt="screen shot 2015-07

[2015-07-16 19:14] joycarpediem commented on #1004
@gabemart , can we also display Total values for the bar charts like we have for the doughnut chart

[2015-07-17 09:40] muloem commented on #450
@gabemart is it also possible to centre the chart? Seems there is a lot of whitespace to the right

[2015-07-17 09:50] gabemart commented on #1004
Added now:

<img width="419" alt="screen shot 2015-07-17 at 10 49 27" src="https://cloud.githubusercontent.com/assets/2589977/8744756/9654bcc4-2c71-11e5-8709-f2619441a9ba.png">
<img width="739" alt="screen shot 2015-07-17 at 10 49 41" src="https://cloud.githubusercontent.com/assets/2589977/8744757/966a95f8-2c71-11e5-88a7-334ae64db7ba.png">

[2015-07-17 10:12] gabemart commented on #450
@muloem I think actually moving stuff around the SVG canvas to make it more centred would be a quite a lot of work - a lot of the empty space is used when text labels are very long.

We could, however, center the SVG canvas itself, which would create a little more of a margin:

<img width="1313" alt="screen shot 2015-07-17 at 11 10 21" src="https://cloud.githubusercontent.com/assets/2589977/874514

[2015-07-17 10:19] janagombitova commented on #450
I think that if we have the title of the question positioned on the left, then the charts should copy that position. (but I would keep a bit of space from the margins) And I agree with you @gabemart it does look a bit funny when they are centred.

[2015-07-17 10:24] gabemart commented on #450
I could simply add a fixed margin to the left for the doughnut chart only, that might be the simplest solution

[2015-07-17 10:45] muloem commented on #450
@gabemart true, it does look strange for everything else other than charts. I'll leave that to your discretion how final result looks.

[2015-07-17 13:23] gabemart commented on #1004
# Test Plan

1) Create a survey with a question group

2) Create an option question

3) Populate the option question with some responses

4) Navigate to the Chart Builder and select that question

5) Generate each type of chart (doughnut, vbar, hbar) for that question

6) Verify that for each chart type: i) the number of responses for each answer is shown, after the percentage for that answer, and

[2015-07-17 13:27] gabemart commented on #450
Test Plan

1) Create a survey with a question group

2) Create an option question

3) Ensure that each option for the option question is greater than 28 characters long - ideally at least 56 characters long

4) Populate the question with some responses

5) Navigate to the Chart Builder and select that question

6) Generate a doughnut chart for that question

7) Verify that text to the left of the

[2015-07-17 15:21] muloem commented on #1314
This branch is now deployed to the card no instance so we can close this.

[2015-07-17 15:21] #1314 closed

[2015-07-17 15:23] muloem commented on #1302
This change was deployed in `v1.8.7`

[2015-07-17 15:23] #1302 closed

[2015-07-17 15:27] muloem commented on #1266
@Joy so you verified that this was indeed fixed right?

[2015-07-17 15:46] muloem commented on #1205
### Test Plan

1. Under the data cleaning tab, download a `RAW DATA` report from one survey A

2. Select another survey B containing data and also download its `RAW DATA` report.

3. Erase the last column (containing hashes)

4. Under the `Data > Data cleaning` tab select a different survey and upload the same file

5.  Check the `Messages` tab. There should be a message stating that the spreadshe

[2015-07-20 07:48] janagombitova opened #1345 "Include in-line help in the dashboard in more places"
https://github.com/akvo/akvo-product-design/issues/88

[2015-07-20 08:35] janagombitova commented on #1097
**Copy FORMS**

1. within the same survey (monitoring) in the same instance
2. from one survey to another in the same instance

**To be added:**
- copy button on form level
- a way to identify where to paste in the copied form (can reconsider creating a new better UX + UI for copying in general and apply it on all levels)
- a way that shows the user that FLOW is copying (when it takes more time)

[2015-07-20 14:41] muloem opened #1346 "UX Design and CSS styling of data tab search text"
Under the `Data > Inspect Data` tab, we currently return a message *No results found*. The styling is directly in the template and needs to move to CSS.

<img width="1279" alt="no-results-found-text-message" src="https://cloud.githubusercontent.com/assets/533336/8778397/f95655e2-2efd-11e5-847d-85df89c2497e.png">

@Kiarii @gabemart @loicsans

[2015-07-20 15:20] janagombitova commented on #1345
made a copy - closing

[2015-07-20 15:20] #1345 closed

[2015-07-21 08:05] janagombitova commented on #1281
**To do:**

1. In: Surveys > Add a new question > Question type: **change** all to only 'Settings'
   - Free text details > changed to 'Settings'
   - Number Settings > change to 'Settings'
  - applied on all question types

![screen shot 2015-07-21 at 09 39 17](https://cloud.githubusercontent.com/assets/12456965/8795358/ccb3ba9a-2f8c-11e5-89e7-15c8e4a62d1f.png)
![screen shot 2015-07-21 at 09 39 4

[2015-07-21 12:40] janagombitova opened #1347 "Implement display of form for webforms and preview (estimated: 32)"
First work for implementing Webforms.

https://github.com/akvo/akvo-product-design/issues/70

[2015-07-21 14:30] muloem commented on #1204
@jonase I guess we should include the cases you just handled in test plan as well, i.e. the import of new + old reports

[2015-07-21 15:06] aelaf opened #1348 "Accessing FLOW API using .Net"
I attempted to access data using FLOW api by writing a .Net application using C#. Unfortunately the HttpWebRequest class send the date header value in HTTP-date format (Tue, 15 Nov 1994 08:12:31 GMT) and does not allow the program to set the Date header. This makes it difficult to make a request to FLOW API using .Net classes. I have to use a socket to coplie the HTTP header as string, convert to

[2015-07-21 15:14] mato74 opened #1349 "sorting of user names"
sorting seems to be done on names with capitals first and then with names without capitals. See: Dashboard users overview. Here a screenshot from trial.akvoflow.org

![screenshot 2015-07-21 17 11 22](https://cloud.githubusercontent.com/assets/8478175/8804286/ce399512-2fcb-11e5-819f-5fb7cbeed3a5.png)

[2015-07-21 15:17] mato74 commented on #1349
Same issue seen when setting the user roles. Screenshot from same instance:

![screenshot 2015-07-21 17 16 26](https://cloud.githubusercontent.com/assets/8478175/8804386/5334fdd8-2fcc-11e5-9f63-1a37088a827a.png)

[2015-07-22 08:14] rumca opened #1350 "Strange addition to breadcrumb"
See below:

![screen shot 2015-07-22 at 09 11 12](https://cloud.githubusercontent.com/assets/3003031/8820990/f0814d8c-3051-11e5-8862-755287da570f.png)

Clicking the arrow either takes you to a blank survey screen, or else a survey with a lot of garbage forms (request 400s).

[2015-07-22 08:20] muloem opened #1351 "`Delete` button missing when navigating back to the data tab"
Steps to reproduce:
1. you go to the inspect data tab
2. you select a survey and form you want to see the data for
3. It works as expected - you see the data correctly including the 'edit' and 'delete button'
4. You click on another tab on the dashboard (f.e survey tab)
5. You click on the data tab again
6. You now see the data of your previous selection (the one you selected at step 2) but then w

[2015-07-22 09:37] muloem commented on #1266
### Test Plan

1. Create a new survey and enable monitoring
2. Create at least two forms
3. Save and exit the survey
4. Reopen the survey and click on `Show Advanced Settings`
5. The `Save` button should not be activated at this point
6. Switch the selected registration form
7. The save button should be activated

[2015-07-22 10:16] muloem commented on #1215
@rumca I made some adaptations to the test plan for roles and permissions

[2015-07-22 23:11] rumca commented on #1350
issue fixed

[2015-07-22 23:11] #1350 closed

[2015-07-22 23:13] rumca commented on #1004
test plan passes as described :+1:

[2015-07-22 23:13] #1004 closed

[2015-07-22 23:14] rumca commented on #1011
@ichinaski just to double check, this checkbox appears to have been enabled for option and number question types too - is that intended?

[2015-07-22 23:20] rumca commented on #1294
`previous record`, `delete` button, and `next record` are now correctly aligned :+1:

perhaps something for a future release - when we get to the last response the `next record` option is still available but doesn't do anything (same with the first response and `previous record`)

[2015-07-22 23:20] #1294 closed

[2015-07-22 23:22] rumca commented on #1340
Closing this as it's a data script addition and therefore should not effect the dashboard release.

[2015-07-22 23:22] #1340 closed

[2015-07-22 23:34] rumca commented on #872
The above test plan passes as described :+1:

However @jonase there's two minor things I've noticed with the release candidate which might be related to this issue:

* When a user initially clicks to search for responses (even without a filter) they see the following:

![screen shot 2015-07-23 at 00 25 50](https://cloud.githubusercontent.com/assets/3003031/8839847/c25dd51c-30d1-11e5-9f40-3c3694d54

[2015-07-23 04:35] jonase commented on #1334
@janagombitova @muloem Giving this a second thought I wonder if we should leave the filename as it is. There might be subtle issues with turning a form name into a valid file name. Especially if we want to support languages with no ASCII characters at all.

[2015-07-23 06:14] janagombitova commented on #1334
In a way, I think changing the file name is not the highest priority regarding the problem we are solving. We added it more as an extra cherry on the top. So if @muloem agrees with you @jonase, then keeping the file name as it is is fine with me.

[2015-07-23 07:25] jonase commented on #872
I don't think the second point is a new issue (but something that needs fixing) as I see the same behaviour on flowaglimmerofhope.

[2015-07-23 08:15] rumca commented on #872
@jonase I just double checked on flowaglimmerofhope and didn't see the same behaviour - the deleted response was removed from the list straight away. I'm almost certain this was OK last release.

[2015-07-23 08:37] rumca opened #1354 "Survey copying fails"
When copying a survey it seems like it initially works - the copied Survey appears in the dashboard, and the forms are also present. However on closer inspection none of the question groups have actually been copied across. I had a look in the logs and the following errors have been thrown:

[code]
[code]

[2015-07-23 10:08] muloem commented on #1354
The exception occurs while trying to copy the new `ancestorIds` property.

[2015-07-23 11:04] ichinaski commented on #1011
@rumca that was the policy we had earlier as far as I understand. This change merely adds the cascade questions to that set.

[2015-07-23 11:20] janagombitova opened #1356 "Geoshapes on dashboard - map visualization per data point"
### Overview

Currently the geographic shape feature, geoshape, is fully operational on the data collection side of FLOW, on the app. This allows users to define within a survey form a geoshape question type and on the device they create the shape in the field. However, attention is needed to visualize and automate this process on the FLOW dashboard in order to finalize this feature.

We will appr

[2015-07-23 13:03] janagombitova commented on #1356
@jonase @kymni Here is what I have so far.

[2015-07-23 14:24] rumca commented on #1011
roger that - my bad, didn't realise this flag was already available for other question types besides free text.

Cascade works as described in the test plan above :+1:

[2015-07-23 14:24] #1011 closed

[2015-07-23 14:54] rumca commented on #450
The above test plan passes as described :+1:

@gabemart @joycarpediem I'll close this one for now, but a few things we should perhaps think about in a future release:

* Text is cut off on doughnut charts when we have exceptionally long option answers **without** spaces:
![screen shot 2015-07-23 at 15 31 53](https://cloud.githubusercontent.com/assets/3003031/8853484/d0f43824-3152-11e5-8580-4502040

[2015-07-23 14:54] #450 closed

[2015-07-24 11:17] rumca commented on #1354
Copying now works again as expected :+1:

[2015-07-24 11:17] #1354 closed

[2015-07-24 11:54] rumca commented on #872
@jonase 'no results found' no longer appears (even for slow searches) :+1:

should I add a new issue for the `null/null/null` pop up when deleting from the edit screen?

[2015-07-24 12:40] jonase commented on #872
@rumca Yes, please create a separate issue for this.

[2015-07-24 12:52] #872 closed

[2015-07-24 13:08] rumca opened #1358 "Deletion from 'Edit' pop-up on Inspect Data tab doesn't remove item from list (estimated: 6)"
When a user clicks to edit a response on the inspect data tab, then chooses to delete it (via the delete button), the response is deleted but not removed from the list of responses. Which allows us to click to edit it again, resulting in this:

![screen shot 2015-07-23 at 00 20 55](https://cloud.githubusercontent.com/assets/3003031/8839867/fd919948-30d1-11e5-99ab-0a16787a9860.png)
![screen shot 20

[2015-07-24 13:49] jonase opened #1359 "Optimize survey groups fetching"

[2015-07-27 10:46] iperdomo opened #1361 "Append s3 bucket policy in InstanceCreator process"
We need to append a S3 bucket policy to the buckets in the new AWS account. This needs to be automatic, just after creating the bucket.

[2015-07-27 11:20] rumca commented on #1266
test plan passes as described :+1:

[2015-07-27 11:20] #1266 closed

[2015-07-27 11:56] rumca commented on #1335
the above test plan passes (at least I think I followed it correctly) :+1:

[2015-07-27 11:56] #1335 closed

[2015-07-27 14:37] janagombitova commented on #1323
Related issue regarding how we visualize codes in Reports: https://github.com/akvo/akvo-flow/issues/1230

[2015-07-27 17:44] rumca commented on #1215
On first glance, the above fix seems to resolved the issue whereby subfolders were not appearing when a role was applied to that particular sub (and not its parent folder also).

I'll re-run the test plans above just to make sure everything still works as expected.

[2015-07-28 12:49] rumca commented on #1215
The above test plans are all passing - I've tried to break it through other tests as well and haven't been able to so far :+1:

@muloem @jonase one thing to note, which I think we should address in a more graceful manner at some point, when a user with read only permissions tries to delete forms/questions they still have the UI available to them to do so. The request subsequently fails, but with n

[2015-07-28 12:49] #1215 closed

[2015-07-28 12:56] rumca opened #1364 "Can't remove a role after it's been assigned once"
On the Users > Roles & Permissions tab we have a "number of users" count. This doesn't seem to be updated when we remove that role from a Folder/path. For example in the UAT environment I currently have no users who are assigned a particular role, however the count is still set to 8.

This means that it's not possible to delete a role after it's been assigned once (even if it's subsequently unassi

[2015-07-28 13:40] jonase opened #1365 "Release notes for 1.8.9"

[2015-07-30 07:33] jonase opened #1367 "Moving folder onto itself (estimated: 4)"
It's currently possible to move a folder onto itself (or some folder further down the hierarchy). This will result in a situation where the parentId path introduces a loop and never reaches the root folder. Immediate result of this is that the folder dissappears from the dashboard.

We should make sure that this is not a possibility:
- Disable the target folder `<a>` tag so it's not possible to na

[2015-07-31 07:18] 8AD opened #1369 "APK 2.1.9 keep syncing even though the green-checked mark is there already"
Keep having an upload/syncing notification on and on, partners afraid that it will consume bandwith/data package

please investigate

[2015-07-31 08:58] janagombitova opened #1370 "CartoDB milestone 3: Geoshapes on dashboard - Visualization in the Inspect data & Monitoring tab"
### Overview

Currently the geographic shape feature, geoshape, is fully operational on the data collection side of FLOW, on the app. This allows users to define within a survey form a geoshape question type and on the device they create the shape in the field. However, attention is needed to visualize and automate this process on the FLOW dashboard in order to finalize this feature.

We will appr

[2015-07-31 09:20] janagombitova commented on #1370
![in data tab - 01](https://cloud.githubusercontent.com/assets/12456965/9004191/4b47dbb8-3774-11e5-90c2-b148de8ee24b.png)

[2015-07-31 09:44] janagombitova opened #1371 "Change data view table from Question ID to question order"
**related to Repeatale question groups**

Because the users do not use or need to see the question ID when previewing collected data, we decided to take that information out of the data preview and substitute it with the order of the question. Secondly we will add a row for each question group name. These additions derive from the changes related to repeatable question groups.

These changes apply

[2015-07-31 12:19] janagombitova commented on #1323
**Suggestion on how to visualize codes + cascades in raw data report**

![cascade raw data rep](https://cloud.githubusercontent.com/assets/12456965/9006616/c6aacfda-3789-11e5-96eb-19e609166590.png)

Suggestion for exporting cascades with codes in raw data report. Each cascade level will sit in its own cell/ column and the `code:value` formatting will copy the decision made with Codes for Option qu

[2015-07-31 12:27] ichinaski commented on #1369
Will handle this in the app repo

[2015-07-31 12:27] #1369 closed

[2015-07-31 12:39] iperdomo commented on #1323
@janagombitova remember that _RAW DATA_ serves two purposes, there is the need to use it for _data cleaning_, so having everything packed in one cell is machine readable

[2015-07-31 12:54] mtwestra commented on #1323
@janagombitova, @iperdomo , I think we need to have two versions: one raw data report, which has everything in one column, and one 'export' version, which separates everything in columns.

I would make the column headers specific, so
location_state_code, location_state, location_region_code, location_region, location_district_code, location_district, etc.
Same for codes with options:
someoption_co

[2015-07-31 15:00] janagombitova commented on #1323
@mtwestra @iperdomo @jonase @ichinaski @muloem

Based on your comments I suggest we can implement the reports work in two batches:

**Implementation 1** - raw data report - everything in one cell, with reusing the proposed structure for options `code1:value1|code2:value2|code3:value3` in the code+cascade as well:
`statecode:state|regioncode:region|districtcode:distrtict`

**Implementation 2** - Cr

[2015-07-31 15:10] andrewmolo opened #1372 "Make Vizualisations in the report tab downloadable"
**Problem**
Under reports tab, the visualisations generated are not downloadable. Option of a screen grab will not work because it is operating system dependent.

**Proposed solution**
Make the visualisations generated in the reports tab downloadable.

[2015-08-03 07:29] janagombitova commented on #1372
Adding this issue to the Ideas & Feedback Trello board, as it is more of a feature request.

[2015-08-03 07:29] #1372 closed

[2015-08-03 09:12] janagombitova commented on #1356
![map geo-shapes](https://cloud.githubusercontent.com/assets/12456965/9034511/83acbf42-39d0-11e5-88a0-f77c103e9374.png)

[2015-08-05 11:52] gabemart commented on #1283
Removing my assignment for now as we don't plan to address this until the page is redesigned

[2015-08-05 12:05] gabemart commented on #1273
Should the "Manage device groups" button also be viewable after scrolling down the device list?

I can make the position of the buttons fixed as the user scrolls down the screen, which will make them accessible, but I will also need to change the styling of the buttons to make them more visible against the more varied background. Perhaps the "Add device to group" and "Remove device from group" but

[2015-08-05 12:06] janagombitova commented on #450
On top of Ruarcc's concerns, @gabemart Gabe, I noticed that the texts in the charts happen to overlap still. It did not happen with all the charts, but with some it does, thus we need to fix it. Is this issue directly connected ti the same problems you were fixing here (wrapping), or is it caused by something else? Can you investigate please

![screen shot 2015-08-05 at 13 42 55](https://cloud.git

[2015-08-05 16:20] muloem commented on #1346
@gabemart please add a test plan here indicating what to look out for.

[2015-08-06 05:53] muloem commented on #1279
Feedback from a support request connected to this issue seems to suggest the possibility that wrongly copied registration forms is the root cause of some non-monitoring surveys having multiple forms.

[2015-08-07 08:32] gabemart commented on #1346
### Test Plan

1) Navigate to the Data > Inspect Data tab

2) Hit "Find"

3) Verify the "No Results" text is red and center-aligned

4) Load a survey that has some data results

5) Hit "Find"

6) Verify that text in the "Form" and "Submitter" columns is left-aligned

[2015-08-07 08:36] gabemart commented on #1052
### Test Plan

1) Open the "Users" tab

2) Scroll to the bottom of the page

3) Hover the cursor over the "Next" and "Previous" buttons

4) Verify that cursor changes from the default cursor to the "pointer" cursor (a wee hand)

[2015-08-07 09:06] gabemart commented on #1245
Specifically, the request for `/admin/css/custom-theme/images/ui-icons_454545_256x240.png` returns a 404. The file exists at `/Dashboard/app/css/custom-theme/images/ui-icons_454545_256x240.png`.

Further testing shows that every file in that folder returns a 404. Trying to navigate to `/admin/css/custom-theme/images` in the browser also returns a 404 where I would expect it to return a 403. '/admi

[2015-08-07 09:10] gabemart commented on #1245
This is fully covered by #809 so I am going to close this issue and move discussion there.

[2015-08-07 09:10] #1245 closed

[2015-08-07 09:14] gabemart commented on #809
All requests for files in  `/admin/css/custom-theme/images/` are returning a 404, including requests for the directory itself (where we would expect a 403). Requests for `/admin/css/custom-theme/' and `/admin/css/custom-theme/jquery-ui-1.8.21.custom.css' return correctly. File permissions for `/admin/css/custom-theme/images/` look correct (`drwxr-xr-x`).

Perhaps this is a routing problem?

The la

[2015-08-07 10:13] gabemart commented on #809
### Test plan

1) navigate to each file in the list and verify the server returns a 200 response

* /admin/css/custom-theme/images/ui-bg_flat_15_f7f3de_40x100.png
* /admin/css/custom-theme/images/ui-icons_cd0a0a_256x240.png
* /admin/css/custom-theme/images/ui-icons_454545_256x240.png
* /admin/css/custom-theme/images/ui-bg_highlight-hard_75_dadada_1x100.png

2) Navigate to the Data > Inspect Data t

[2015-08-07 10:19] gabemart opened #1376 "Request for icon_cal.png returns a 404"
The file icon_cal.png is referenced in main.scss on lines [1354](https://github.com/akvo/akvo-flow/blob/389a3c6eab05d7abc458930c7e32e9167767176d/Dashboard/app/css/main.scss#L1354) and [3944](https://github.com/akvo/akvo-flow/blob/389a3c6eab05d7abc458930c7e32e9167767176d/Dashboard/app/css/main.scss#L3944)

This file was deleted in https://github.com/akvo/akvo-flow/commit/d3e883c722d4d2811326daa1ff8

[2015-08-10 10:22] akvotender commented on #888
Assigned to [Tender discussion #5676](http://flowhelp.akvo.org/help/discussions/problems/5676-testing-git-connection).

[2015-08-10 10:27] akvotender commented on #888
Just testing Tender.

[2015-08-10 10:28] akvotender commented on #888
Assigned to [Tender discussion #5676](http://flowhelp.akvo.org/discussions/problems/5676-testing-git-connection).

[2015-08-10 10:28] akvotender commented on #888
*test* issue closed.

[2015-08-10 10:28] #888 closed

[2015-08-10 14:09] akvotender commented on #1333
Assigned to [Tender discussion #5538](http://flowhelp.akvo.org/help/discussions/problems/5538-unnamed-data-point-in-app-after-rerunning-data-name-script).

[2015-08-11 16:32] rumca commented on #809
reopening this just to remind myself to test everything - will close again once I've done so

[2015-08-11 16:39] rumca commented on #1052
re-opening this just to remind myself to test it - will close again after

[2015-08-11 16:52] #1297 closed

[2015-08-11 16:59] gabemart commented on #1006
### Test plan

1) Add a new question to a survey

2) Edit the new question

3) Verify that the term "(OPTIONAL)" appears between the text "Question ID:" and "?" help text button

[2015-08-12 07:43] jonase commented on #1280
# Test Plan

## Preparations

in order to enable cartodb integration we need the following properties in `appengine-web.xml` (for uat1):

    <property name="mapsProvider" value="cartodb"/>
    <property name="cartodbSqlApi" value="https://akvoflow-uat1.cartodb.akvotest.org/api/v2/sql”/>
    <property name="cartodbApiKey" value="...”/>
    <property name="cartodbHost" value="cartodb.akvotest.org”/

[2015-08-12 11:29] rumca commented on #1280
Two quick comments, is it possible to remove the point wrapping? Now that we've removed the map tile wrapping it looks a bit strange:

![screen shot 2015-08-12 at 12 23 41](https://cloud.githubusercontent.com/assets/3003031/9222884/3cfc5430-40ed-11e5-8e34-df25fce9e25a.png)

Also is it possible to re-centre the map or change the default zoom level to a slightly greater one? When the points for a su

[2015-08-12 11:45] gabemart commented on #1281
I have made the necessary code changes. I'm waiting for access to Transifex to submit the new strings for translation.

[2015-08-12 14:55] gabemart commented on #1281
I've uploaded the new file to transifex. Will create a PR when we have the new Spanish and French strings.

[2015-08-13 05:11] loicsans commented on #1273
@gabemart, you'd have to make the whole row of button positioning fixed, and add a white background to the whole row. By doing this you'd have to add quite a bit of margin and play with z-index. Let me know if you want me to have a look at this.

[2015-08-13 08:04] akvotender commented on #1279
Assigned to [Tender discussion #5658](http://flowhelp.akvo.org/discussions/problems/5658-registration-form-glitch-in-pacificwashakvofloworg).

[2015-08-13 09:18] muloem commented on #1367
@rumca the script for checking for folders has been created but we also need to include a fix to prevent this from happening.  Thats why I moved it to the next release.

[2015-08-13 09:20] rumca commented on #1367
:+1:

[2015-08-13 10:37] akvotender opened #1381 "Data export: don't use scientific notations for large numbers"
Assigned to [Problems #5678](http://flowhelp.akvo.org/help/discussions/problems/5678-scratchcard-bulk). As reported in Tender:

<blockquote><p>Dear Emmanuel,</p>

<p>How are you? I spoke to Josje yesterday about the bulk upload for
'Scratchcardbundels' and we have seen already uploads are made. However,
when we want to extract data, the numbers are exported in scientific
notation but as text, so n

[2015-08-13 14:03] janagombitova opened #1382 "Broken order of questions and question groups"
Sometimes the order of questions and question groups does not render properly. The work-around is to add a new question or group, however this is a small detail we should fix.

**Question group example:**

![img_1333](https://cloud.githubusercontent.com/assets/12456965/9251660/a2491c28-41d4-11e5-9e03-33e241dffff4.JPG)

[2015-08-13 16:18] gabemart commented on #1281
### Test Plan

1) In Surveys > Add a new question > Edit, change the "Question type" and verify that for each question type, the text immediately below the question type input matches:

"Free Text" - "Settings:"
"Options" - "Settings:"
"Cascade" - No text
"Number" - "Settings:"
"Geolocation" - "Settings:"
"Photo" - "No additional settings for this type of question"
"Video" - "No additional setting

[2015-08-13 16:32] gabemart commented on #864
@joycarpediem How does [this](http://gfycat.com/SatisfiedEagerHackee) look? Is it acceptable to just have a checkbox for every possible option, or do we need a scrollable list in case there are a very large number of options?

[2015-08-14 13:21] iperdomo opened #1385 "Datascript: Export event data to Postgres"
For large instances is _safer_ to have a local cache of the data and then process it at will.

[2015-08-17 13:40] rumca commented on #1052
test plan passes as described

[2015-08-17 13:40] #1052 closed

[2015-08-17 13:59] akvotender commented on #1382
Assigned to [Tender discussion #5688](http://flowhelp.akvo.org/discussions/problems/5688-fwd-nu-nog-vreemder).

[2015-08-17 14:32] rumca commented on #809
@gabemart looks good :+1: there's one other icon 404ing:

http://uat1.akvoflow.org/admin/images/icon_cal.png

could we quickly fix this as part of this issue? I'll just open another minor UI fixes issue for the next release if not.

[2015-08-17 14:38] rumca commented on #1346
test plan passes as described :+1:

[2015-08-17 14:38] #1346 closed

[2015-08-17 14:39] rumca commented on #1361
code is present in release candidate and will be tested next time a new instance is requested

[2015-08-17 14:39] #1361 closed

[2015-08-17 15:06] gabemart commented on #809
@rumca I caught that too, but I'm not sure if the icon is actually needed any more or not. I created an issue for it and assigned it to @loicsans - https://github.com/akvo/akvo-flow/issues/1376

[2015-08-17 15:09] rumca commented on #1376
this 404s on the "Notifications screen" (Create Survey > Manage Notifications) not sure if it's actually used elsewhere so perhaps we can just delete the reference?

[2015-08-17 15:09] #809 closed

[2015-08-17 15:10] gabemart commented on #1376
I spoke with Loic, we can take it out. I will do so and commit against this issue.

[2015-08-18 08:11] rumca commented on #1280
Test plan passes as described :+1:

[2015-08-18 08:11] #1280 closed

[2015-08-18 08:32] akvotender commented on #1381
Addiotional information received from end user:

"Another issue has now come up in the file. New entries are not delimited by
"|" as should be the case, but have a mere space between them."

[2015-08-18 12:26] muloem opened #1387 "Release Notes 1.9.0"

[2015-08-18 19:24] ichinaski opened #1388 "Survey ingestion does not take survey ID into account"
# Overview

Although Question IDs are verified and accordingly skipped if missing in the datastore, survey IDs do not have the same validation. If a nonexistent survey is processed, this currently results in a _SurveyInstance_ creation, though no _QAS_ nor _QAS_ will be associated with this SI.

The solution is to simply validate the survey ID before attempting to parse the responses, and fail (re

[2015-08-19 09:08] joycarpediem commented on #864
This looks great with ease of selection. In case of large number of options, the rows is just going to expand, right ?

[2015-08-19 09:10] joycarpediem commented on #270
Closing this as translations are already implemented

[2015-08-19 09:10] #270 closed

[2015-08-19 09:30] gabemart commented on #864
Currently yes, the row will just expand and show every selection at once.

Another option is to set a max-height on the row, so if there is a very large number of options they are displayed in a smaller box will a scroll bar.

[Video demo](http://gfycat.com/MelodicHonorableAbyssiniangroundhornbill)

This is a bit neater, but probably also a bit less intuitive.

Which option do you think we should

[2015-08-19 09:32] jonase opened #1389 "Cartodb milestone 2"
New features

* [x] Geoshapes [#1356]
* [x] Filter surveys/forms by user access rights
* [x] Hierarchical survey selection (?)

[2015-08-19 12:23] jonase opened #1390 "FixSurveydLocale datascript does not check all SurveyedLocales"
The current FixSurveyedLocale data script does not process SurveyedLocales (data points) for which for which `surveyGroupId` is missing (which is not the same as `== null`). We need to change the data script to cover missing `surveyGroupId`s as well.

[2015-08-19 12:30] gabemart commented on #1332
"Repeat question group" is not yet implemented in develop, so I will not add inline-help item 2 at present.

[2015-08-19 12:34] gabemart commented on #1332
I have updated transifex with the new text. I will PR once the translated text has been added to transifex.

[2015-08-19 12:37] #1387 closed

[2015-08-19 14:51] iperdomo opened #1392 "Datascript: Convert PG data into events (unified log)"
After extracting the data (see #1385), we need to convert the data into events. Similar to the process `ExportDataToEventLog` but reading the serialized entity data in Postgres

[2015-08-19 15:58] akvotender opened #1393 "Inserting questions triggers repositioning of surrounding questions"
Assigned to [Problems #5708](http://flowhelp.akvo.org/discussions/problems/5708-wash-alliance-dashboard-troubles-saving-questionnaire). - Sometimes when adding a new question the question number is duplicated
- This can be resolved by adding and deleting a question however this messes up the order of the questions.
#

As reported in Tender:

<blockquote><p>Hi colleagues, </p>

<p>This week Verele

[2015-08-19 15:59] akvotender commented on #1393
Additional information by Emmanuel:

I just had a Skype chat with Verele and we resolved all her issues.

the numbering of questions was resolved by adding a new question in between. While we did this, however, another issue appeared that when inserting questions in between, somehow the questions are shifted out of their expected order. We will have to follow this up with a github issue to resolve

[2015-08-19 15:59] akvotender commented on #1393
Remaining issue:

- Sometimes when adding a new question the question number is duplicated
- This can be resolved by adding and deleting a question however this messes up the order of the questions.

[2015-08-20 09:29] #1392 closed

[2015-08-20 11:25] gabemart commented on #1273
![mediocrevengefulfiddlercrab](https://cloud.githubusercontent.com/assets/2589977/9382198/69356984-4736-11e5-978e-e98d4ad175b5.gif)

[2015-08-20 11:28] gabemart commented on #1273
### Test plan

1) Open the Devices tab

2) Scroll down the page

3) Verify that the "Manage device groups", "add to device group" and "remove from device group" buttons remain visible in a fixed position

4) Verify that the same buttons are clickable

[2015-08-20 12:03] gabemart commented on #1332
## Test plan

### Test languages

1) Edit a survey. Under "Survey basics", select "Show advanced settings", then tick "Enable monitoring features". Check that for each language, hovering the cursor over the '?' icon brings up the following help text:

English: "With the registration form you fill in the general information that identifies the entity you want to monitor. You fill in the registratio

[2015-08-20 13:57] janagombitova commented on #1069
related to https://github.com/akvo/akvo-product-design/issues/107 and to https://github.com/akvo/akvo-flow/issues/1356

[2015-08-20 14:22] janagombitova commented on #645
not a relevant issue anymore, as the functionality works as intended.

[2015-08-20 14:22] #645 closed

[2015-08-20 14:48] janagombitova commented on #1126
Solution (after discussing this issue with Emmanuel): remove the language support under data cleaning

[2015-08-20 14:54] janagombitova commented on #1044
Solution for now: Remove the middle 'add' button

Regarding the changes in UX - we will tackle this later as part of larger UX changes on the dashboard

[2015-08-20 15:05] janagombitova commented on #1066
This needs a more comprehensive UX solution. Open to options.

[2015-08-20 16:50] loicsans commented on #945
It's fixed and can be closed

[2015-08-21 06:31] #945 closed

[2015-08-21 08:17] janagombitova commented on #1365
notes done. Closing issue

[2015-08-21 08:17] #1365 closed

[2015-08-21 08:44] gabemart commented on #864
Final styling:
![screen shot 2015-08-21 at 09 42 32](https://cloud.githubusercontent.com/assets/2589977/9404655/420bca98-47e9-11e5-9967-85b6c0a04251.png)

[2015-08-21 08:53] gabemart commented on #864
### Test Plan

1) Find or create a survey with an "Option" question with "Allow multiple" enabled

2) Edit the question such that there are 4 possible responses

3) Ensure there is at least one submitted response to this question

4) Navigate to the Data tab and select the survey and form from step 1 and select "Find"

5) Hit "Edit" on a response

6) Verify that any responses to the question are d

[2015-08-21 09:46] gabemart commented on #1376
### Test plan

1) Open Create Survey > Manage Notifications

2) Verify there is no request for icon_cal.png and no 404 response

[2015-08-21 10:18] gabemart commented on #1126
### Test Plan

1) Navigate to Data > Data Cleaning and select a Survey and Form

2) Verify that no language select dropdown appears after the form dropdown

[2015-08-21 10:30] muloem opened #1400 "Importing data into a registration form does not create corresponding `SurveyedLocale` entities"
When data is entered into the RAW DATA spreadsheet without corresponding instance ids or the hash column, and then imported via the *Data Cleaning* tab, new corresponding `SurveyInstance` entities are created.  In the case where data is imported with the registration form of a monitoring survey as a target, we expect that additionally `SurveyedLocale` entities are created.  At the moment this does

[2015-08-21 10:34] gabemart commented on #1044
### Test plan

1) Navigate to Data > Cascade Resources

2) Verify that no "Add New Cascade" button appears below "Please select an existing cascade resource..."

[2015-08-24 08:05] gabemart commented on #1066
My original proposed solution is to switch from tab layout to a dropdown menu when the number of forms is too great to display as tabs.

After experimenting with this, it is confusing to hit the "new form" button with a dropdown menu because, although the new form is added to the dropdown, you can only see this if you activate the dropdown. In other words, there is no immediate visual confirmation

[2015-08-24 08:20] Kiarii commented on #1066
I agree with @Gabemart that on creating the New Form button the user should be taken directly to the new form.

It is also important for the user to be able to see the form names in the survey even if these are many; the current tab navigation is problematic in this case; a thorough rethink is necessary to figure out a better form presentation. Navigation and orientation need some enhancing also f

[2015-08-24 08:29] gabemart commented on #1066
@muloem @janagombitova Based on Kiarii's comments, perhaps instead of switching between a tab-based layout and a dropdown-menu depending on the number of forms, we should just always use a dropdown-based layout? Thoughts?

[2015-08-24 10:46] gabemart opened #1402 "Editing survey twice in same session results in blank page"
To reproduce:

1) Create a new survey

2) Add a form

3) Hit "Surveys" link to enter Surveys tab

4) Edit the form you just created

Expected result: navigate to survey editor

Actual result: Blank screen

Console reads: `Uncaught TypeError: Cannot read property 'get' of null`

caused by: `return form.get('status') === 'PUBLISHED'` in
survey-group-views.js - [view it here](https://github.com/akvo/

[2015-08-24 11:27] muloem commented on #1066
We should put some more thought into this as @janagombitova mentioned.  But I do agree that among the thing to include in there is navigating to the new form when its created.  Also I am not sure if the current default behaviour is to sort the tabs alphabetically but may be better to give the user options of how they want to sort them with the default being created data perhaps?

[2015-08-24 15:24] rumca commented on #1204
Test plan passes as described :+1:

[2015-08-24 15:24] #1204 closed

[2015-08-24 16:02] rumca commented on #1205
As per Skype comments: Step 5 of this test plan sort of passes - the users get a message when they try to upload against an incorrect survey, however it's not as informative as it should be `Errors: ,`

Checking the logs reveals that the correct message is generated there, so presumably something is going wrong on the response to the dashboard `errors: {-2 "The uploaded file 'blah' does not match

[2015-08-24 20:35] rumca commented on #1205
The above issues have been fixed in https://github.com/akvo/akvo-flow-services/pull/111 :+1:

[2015-08-24 20:35] #1205 closed

[2015-08-25 11:35] rumca opened #1403 "Version number not incrementing correctly"
@muloem @jonase @janagombitova I think this might be the issue Aulia reported recently where the versioning was not working as he expected.

When the following happens:
- Open a previously published survey
- Change the form name or survey name
- Perform some action which should increment the version number (i.e. edit a question, add a question, delete a question).
- The version number is not incre

[2015-08-25 11:40] rumca commented on #1402
Nice! I've encountered this a few times, but could never workout the exact steps to reproduce it consistently. I think there may be a few other places that a similar issue occurs, I've seen the initial surveys tab blank screen a few times too.

[2015-08-25 11:45] rumca commented on #407
issue relates to old dashboard

[2015-08-25 11:45] #407 closed

[2015-08-25 11:48] rumca commented on #1043
addressed in #1126

[2015-08-25 11:48] #1043 closed

[2015-08-25 11:52] rumca commented on #398
no longer relevant - relates to old dashboard

[2015-08-25 11:52] #398 closed

[2015-08-26 09:12] muloem opened #1404 "Question groups are duplicated when attempting to copy between survey forms"
Steps to reproduce:

1. Create two surveys containing a single form each with a single, named question group.

2. Open the first survey and select `Copy` on the question group

3. Navigate to the second survey and select the button `Paste Group here`

4. When copying is finished, refresh the dashboard and go back to the first survey

5. The question group is now duplicated

It is should not be pos

[2015-08-26 18:18] akvotender commented on #1400
Assigned to [Tender discussion #5668](http://flowhelp.akvo.org/discussions/problems/5668-fwd-data-upload).

[2015-08-26 18:21] akvotender commented on #1404
Assigned to [Tender discussion #5708](http://flowhelp.akvo.org/discussions/problems/5708-wash-alliance-dashboard-troubles-saving-questionnaire).

[2015-08-27 08:01] akvotender commented on #571
Assigned to [Tender discussion #5740](http://flowhelp.akvo.org/discussions/problems/5740-dates).

[2015-08-27 13:28] janagombitova commented on #1389
Fix issues based on feedback from users testing out the maps:

* [ ] Fix date format
* [ ] List of surveys is not identical in Maps tab and in Inspect data tab
* [ ] Add layer selection - use three layers we currently provide: terrain, streets, satellite
* [ ] Fix scrolling
   - **Proposal:** Disable scrolling on the Maps page entirely. Thus the header and footer will always be visible and the fil

[2015-09-01 07:50] janagombitova opened #1405 "CartoDB milestone 3"
**Part of 1.9.3** (14 October deployment)

* [ ] Geoshapes - visualize multiple shapes on the map and as an answer when inspecting collected data  akvo/akvo-flow#1370

[2015-09-03 08:04] muloem commented on #269
#### Test Plan

##### Test 1: Repetable Question group creation

1. Create a new survey and add a new question group.

2. The user should see the possibility to set a group as a repeatable question group

3. Save the question group

##### Test 2: Repeatable question group updating

1. Refresh the dashboard and edit the question group selected previously.  Deselect the repeatable question group set

[2015-09-03 08:30] muloem commented on #1371
@janagombitova we should close this issue as the fix related to this is implemented in repeat qn group #269 branch.

[2015-09-03 08:46] ichinaski commented on #269
@muloem I just noticed the dashboard allows you to setup a dependency on a repeatable group's option question. I seem to remember we agreed on this not being enabled?

[2015-09-03 08:51] janagombitova commented on #1371
Yes, I created it so we do not forget about the small change. I am closing the issue.

[2015-09-03 08:51] #1371 closed

[2015-09-04 09:01] janagombitova opened #1407 "Cartodb custom maps - implement custom maps management"
### Overview

The custom maps will enable data-driven styling of markers and custom icons on the Akvo FLOW maps. This will expand the basic map functionality to the current FLOW maps and will give the users a chance to understand their collected data better in geographic context. We will implement this feature in separate steps, starting with the most basic functionality and supporting the simples

[2015-09-04 09:05] janagombitova commented on #1405
As this contains only the geoshapes implementation - closing this issue

[2015-09-04 09:05] #1405 closed

[2015-09-04 09:11] janagombitova commented on #1407
![map visualizations](https://cloud.githubusercontent.com/assets/12456965/9680230/9c56777a-52f5-11e5-9d9c-760346f6eeec.png)

[2015-09-04 11:22] janagombitova commented on #269
@ichinaski yes we agreed that you cannot make a question (outside the repeated group) dependent on a question within the group.

[2015-09-04 12:34] janagombitova opened #1408 "Geoshapes on dashboard - export geoshape"
#### Deliverables: (suggestion)
The ability to export geaoshapes with all the other collected data under the form in a format suitable for further GIS analysis.
   - type of export file - shapefile - .shp or kml file - .kml
   - technical implementation: @joycarpediem and @jonase can you see how to implement this? What are the technical requirements? Will this affect the server?
   - proposed UI s

[2015-09-07 09:58] muloem opened #1409 "Folder selection drop down hidden behind calendar elements"
Under the *Inspect Data* tab, in cases where there is a deep folder hierarchy, the drop down for selecting  folders gets hidden behind the calendar.  See highlighted in the screenshot below.

<img width="1042" alt="hidden-dropdown" src="https://cloud.githubusercontent.com/assets/533336/9714339/a0e3f9b6-5557-11e5-8e5c-e39bdc749f6d.png">

[2015-09-07 10:13] akvotender commented on #1409
Assigned to [Tender discussion #5794](http://flowhelp.akvo.org/discussions/problems/5794-issue-with-the-snv-kenya-dashboard).

[2015-09-07 17:41] gabemart commented on #1409
As discussed with @muloem proposed fix is to move the date input elements to the block with the other filter elements

![screen shot 2015-09-07 at 18 40 59](https://cloud.githubusercontent.com/assets/2589977/9721302/079333ce-5590-11e5-8f5c-c0dbeadaea56.png)

[2015-09-07 17:43] gabemart commented on #1409
### Test Plan

1) Create or access a survey at the bottom of a long folder tree

2) On the "Inspect Data" view for that survey, ensure the folder input elements are not obscure and are usable

3) Verify that the "collected from" and "to" date inputs appears in the grey filter bar alongside "SUBMITTER NAME:"

4) Verify that the date inputs still function correctly

[2015-09-08 07:21] Geerts commented on #1409
In which release will this one be? SNV can't see how the data collecting is going in Kenya, providing them a workaround now.

[2015-09-08 07:59] janagombitova commented on #1409
@Geerts I think we can add to it the next one (the delayed one) considering Gabe fixed it. @muloem correct me if I am wrong.

[2015-09-08 08:51] gabemart commented on #1409
@janagombitova yes that was the plan I discussed with @muloem if the fix passes muster

[2015-09-08 15:31] muloem commented on #1400
### Test Plan

#### Pre test prep
1. Create a regular survey with a number of test questions including a geo question and publish it, as well as a number of the questions selected as "Data point name" questions.

2. Assign to a device and fill out some test responses

3. Generate a raw data report for the survey and ensure it contains all the responses. Save report

#### Test 1: Data Transformatio

[2015-09-09 08:32] muloem commented on #1400
@iperdomo @jonase @ichinaski @janagombitova I created the third test case (even though its not strictly connected to this issue) after a discussion with Jonas where we figured that importing monitoring data is a bit more nuanced and we have to think it through a bit more.  In the meantime we should prevent users from taking this action and make it clear to them that its not supported at the moment

[2015-09-23 08:43] janagombitova commented on #1407
Feedback Jigmy: Can we add separate text boxes within the map?

[2015-09-25 08:12] janagombitova commented on #1403
Possibly related to this issue, is one Jigmy pointed out - the 'Modified' date does not change in the survey list with minor changes as re-defining a question name. @muloem Can we look into both issues at once?

[2015-09-25 09:57] janagombitova opened #1414 "Variation of total number of responses in charts - multi select"
When creating a chart out of a multiple answer option question confusion occurs, because FLOW calculates as the total number of responses the total number of chosen answers. This is likely higher than the actual total number of responses.

<img width="1230" alt="screen shot 2015-09-25 at 11 45 41" src="https://cloud.githubusercontent.com/assets/12456965/10097674/0a9ca3e0-637b-11e5-93ec-53de248de6d

[2015-09-25 10:01] janagombitova commented on #1414
Suggestion:
Add a text under the chart, which will only be displayed if the selected option question has multiple select allowed. The text will inform the user on the higher number of responses.

'Note that on multiple answer questions, the 'Total' shows how many total answers were chosen, which is likely higher than the total number of respondents.'

@muloem Emmanuel, this is the issue Jigmy shar

[2015-09-28 09:27] muloem commented on #1414
@janagombitova As we discussed, for the multi option questions we should not enable generating pie charts as its misinformation.

[2015-09-28 09:30] ichinaski commented on #1403
Somewhat related: When updating a cascade resource, any form linked to such cascade needs to be republished, in order to see the changes reflected on the form definition. However, if the form status is *PUBLISHED*, this means the user needs to perform a change to the survey, before the **publish** button becomes enabled (and therefore its version incremented).

[2015-09-28 14:23] Geerts opened #1415 "Remove column 'form' in Inspect data tab"
- After copying a survey the path shown under 'form' is showing the old path
- The information is redundant with the selection you made on the top

[2015-09-28 14:24] akvotender commented on #1415
Assigned to [Tender discussion #5910](http://flowhelp.akvo.org/discussions/problems/5910-ewb-usa-questions-on-a-couple-of-flow-glitches).

[2015-09-28 14:27] akvotender commented on #1389
Assigned to [Tender discussion #5910](http://flowhelp.akvo.org/discussions/problems/5910-ewb-usa-questions-on-a-couple-of-flow-glitches).

[2015-09-28 14:28] janagombitova commented on #1389
@kymni and @jonase Can you add a test plan and can you please review the date fixes if they are consistent throughout the dashboard? (as I assumed we use the iso standard and @muloem explained that is not the case)

[2015-09-28 14:30] Geerts opened #1416 "Specific users not able to assign permissions to other users"
- For specific users the folder list is empty when assigning permissions
- Contact Geert for screenshots (contains user info)

[2015-09-28 14:31] akvotender commented on #1416
Assigned to [Tender discussion #5919](http://flowhelp.akvo.org/help/discussions/problems/5919-new-user-role).

[2015-09-28 14:31] janagombitova commented on #1415
Secondly, can you change in Monitoring subtab after a user clicks to 'view' collected data, the column header 'Survey' to 'Form'? Thank you

![screen shot 2015-09-28 at 16 30 55](https://cloud.githubusercontent.com/assets/12456965/10138352/52ad1db0-65fe-11e5-9943-e9975187ed38.png)

[2015-09-28 14:32] akvotender commented on #1416
Assigned to [Tender discussion #5889](http://flowhelp.akvo.org/discussions/problems/5889-user-loggedin-problem).

[2015-09-28 14:58] akvotender commented on #1416
Assigned to [Tender discussion #5933](http://flowhelp.akvo.org/discussions/problems/5933-fwd-akvo-flow).

[2015-09-28 15:01] Geerts opened #1417 "Question groups duplicated without user involvement"
- Users experience duplicated question groups in their survey

[2015-09-28 15:02] akvotender commented on #1417
Assigned to [Tender discussion #5929](http://flowhelp.akvo.org/discussions/problems/5929-fwd-problem-with-a-specific-survey-and-again-slow-flow-dashboard).

[2015-09-28 15:03] Geerts commented on #1417
- When trying to delete a question group it returns.

[2015-09-29 06:41] kymni commented on #1389
@janagombitova @jonase code should be ready for reviewing now before testing can begin

[2015-09-29 13:10] janagombitova commented on #1356
@kymni @jonase I asked Loic and Kiarii to look into the 'project on main map' button. Kiarii proposed a few solutions, which would be great if you can implement for the release.

1. Change the way we project questions and answers in the side menu, from side by side to linear. This will also give us more space for the smaller map.
2. Show on map/Hide from map button and location

![screen shot 2015

[2015-09-30 08:34] janagombitova commented on #571
@muloem @jonase Is this still an issue?

[2015-09-30 08:45] janagombitova commented on #1005
@mtwestra Is this still relevant?

The latest CartoDB changes include that only once the user selects a survey, the data points will be shown on the maps and when previewing the collected data we display the data point name, data point ID and submission date. Do you think we still need to display the submitter name as well?

[2015-09-30 08:50] janagombitova commented on #875
As part of unifying the dates throughout the dashboard, lets fix this issues together with how we render dates on the maps, in the data tab, with filtering on date,  as well in the reports.

We need to decide how we will deal with the format, using iso standard? timezones?

**Possibly related issues**

1. submission date on maps https://github.com/akvo/akvo-flow/issues/1389
2. rendering date quest

[2015-09-30 08:57] rumca commented on #571
There's still an issue here, but not quite the original one. Just submitted a response for an old survey and it appears as below on the map:

![screen shot 2015-09-30 at 09 44 38](https://cloud.githubusercontent.com/assets/3003031/10188554/130ffe24-6758-11e5-96f3-bbc832caa3ce.png)
![screen shot 2015-09-30 at 09 44 47](https://cloud.githubusercontent.com/assets/3003031/10188568/20d9988a-6758-11e5-8

[2015-09-30 09:04] muloem commented on #571
@jonase @kymni the issue of the newly created questions is probably one to look into. i.e how are we querying for responses in CartoDB.

[2015-09-30 09:06] muloem commented on #795
@joycarpediem correct. Closing this one.

[2015-09-30 09:06] #795 closed

[2015-09-30 09:09] janagombitova commented on #1414
@muloem Ok. Lets do that then: Disable pie charts for option question where multiple select is enabled.

@gabemart Is this something you can fix?

[2015-09-30 09:31] rumca commented on #571
@muloem @jonase @janagombitova shows what I get for assuming they were the same! When I change the map provider back to mapbox the following is displayed:

![screen shot 2015-09-30 at 10 28 38](https://cloud.githubusercontent.com/assets/3003031/10189470/273db9d0-675e-11e5-987a-4ac79027f119.png)

None of the issues listed above are present with mapbox. **However** the original date problem discusse

[2015-09-30 15:32] janagombitova commented on #1144
DRAFT

Based on the discussion from Sep 30 and Dagmar's use case we have decided to enable 'other' only on the last level of the cascade.
- When creating a cascade the user can enable 'Other on the last level'
- On the device 'other' will only appear in the app once the user reaches to the last level of the cascade
- If the user selects 'other', a free text field is displayed, in which the text ca

[2015-09-30 18:18] rumca commented on #1390
I think this is complete, but is a datascript issue so not relevant for the testing of 1.9.1 so closing

[2015-09-30 18:18] #1390 closed

[2015-09-30 18:24] rumca commented on #1385
@iperdomo I added this to the 1.9.1 milestone because the commits are in the release candidate, but presumably I can just close the issue since it's datascript related?

[2015-09-30 18:26] rumca commented on #1376
test plan passes

[2015-09-30 18:26] #1376 closed

[2015-09-30 18:28] rumca commented on #1273
test plan passes as described

[2015-09-30 18:28] #1273 closed

[2015-09-30 18:36] rumca commented on #1409
Test plan passes as described.

@gabemart the nesting still seems to be obscured/awkward to use once you go past the 8-10 nested level (depending on the folder name) - not sure if we actually have anyone using folders that are so deeply nested, but perhaps in a future release we could just wrap the selection drop downs once they go past a certain level?

[2015-09-30 18:36] #1409 closed

[2015-09-30 23:25] rumca commented on #1332
All the above test cases pass as described :+1:

@gabemart @muloem one thing which has changed, which I'm not sure if it's related to this issue or not, is that when changing the language of the dashboard (from the dropdown on the top right) the dashboard no longer auto refreshes. This means to get the strings in your selected language you have to manually refresh the page. Perhaps a quick fix we

[2015-09-30 23:26] rumca commented on #1006
optional present

[2015-09-30 23:26] #1006 closed

[2015-09-30 23:28] rumca commented on #1126
Test plan passes as described.

[2015-09-30 23:28] #1126 closed

[2015-09-30 23:34] rumca commented on #864
@gabemart are these changes supposed to be in the RC or not? I'm assuming they were reverted and then not merged back or something? Currently see the below on UAT with release/1.9.1

![screen shot 2015-10-01 at 00 32 06](https://cloud.githubusercontent.com/assets/3003031/10209512/1332ffe2-67d4-11e5-9e31-33e8061eeb90.png)

[2015-09-30 23:39] rumca commented on #1281
Test plan passes as described :+1:

[2015-09-30 23:39] #1281 closed

[2015-09-30 23:39] rumca commented on #1044
Test plan passes as described.

[2015-09-30 23:39] #1044 closed

[2015-10-01 00:01] rumca commented on #269
@muloem everything looks good except **Test 2: Repeatable Question group dependency** - from what I can see it's possible to set up a question group which contains a question that is dependent on an option question in a repeatable group. See https://akvoflow-uat1.s3.amazonaws.com/surveys/36849115.xml

[2015-10-01 00:04] rumca commented on #269
I was gong to create a new issue for a future release to address this minor UI problem, but maybe https://github.com/akvo/akvo-flow/commit/102616f8232c883a7d8f32ac45e08003b50554ab is responsible for the save button appearing as follows:

![screen shot 2015-09-30 at 09 22 14](https://cloud.githubusercontent.com/assets/3003031/10209885/51a56b9e-67d8-11e5-95f2-bf95eb74ea74.png)

[2015-10-01 00:43] rumca commented on #1400
Test cases pass as described :+1:

@muloem with Test 3 is there a way of suppressing the original message that is sent in this situation? The spreadsheetProcessed message is still sent along with the warning:

![screen shot 2015-10-01 at 01 42 39](https://cloud.githubusercontent.com/assets/3003031/10210354/bb8a6352-67dd-11e5-8dbb-e45d304afd8d.png)

[2015-10-01 05:17] muloem commented on #864
@rumca these changes were not merged due to some conflict with the new RQG branch. Will include in a later release.

[2015-10-01 08:39] gabemart commented on #1332
@rumca after our conversation, failed to reproduce this locally

[2015-10-01 08:40] rumca commented on #1332
closing this, some sort of weird behaviour caused by one of my chrome plug-ins it would appear

[2015-10-01 08:40] #1332 closed

[2015-10-01 09:18] #1385 closed

[2015-10-01 11:43] rumca commented on #269
The fix for Test Case 2 looks good :+1:

I'll add a new issue to address the small UI hiccup.

[2015-10-01 11:48] rumca opened #1419 "Quick UI Fix - Positioning on save button for Question Group name"
On the edit survey screen, when you select to edit a question group name, the positioning on the save button seems to have gone a bit skew-whiff. It used to be inline with the field but is now below it:

![screen shot 2015-09-30 at 09 22 14](https://cloud.githubusercontent.com/assets/3003031/10209885/51a56b9e-67d8-11e5-95f2-bf95eb74ea74.png)

[2015-10-01 14:21] rumca opened #1421 "Repeatable Question Groups - Add import functionality for data cleaning"
As part of the RQGs work (#269) we should also allow users to edit responses from repeatable groups in the data cleaning tab, and import these successfully.

[2015-10-01 14:23] rumca commented on #1421
Also as part of this, could we remove blank lines from RQG reports where a repeat number has no data associated. So for example if a user fills out three groups on the app, and then deletes the middle one. The iteration ids in the QAS will be 0 and 2 - which results in data reports as follows:

![screen shot 2015-10-01 at 15 23 11](https://cloud.githubusercontent.com/assets/3003031/10223321/5d2fda

[2015-10-01 14:56] rumca commented on #269
@muloem previously the popup when you click view details on the monitoring tab looked as follows:

![screen shot 2015-10-01 at 15 49 06](https://cloud.githubusercontent.com/assets/3003031/10224065/34121f06-6854-11e5-8eaa-393890843ae8.png)

now the first time you click view details on an item in the list, the pop up looks as follows:

![screen shot 2015-10-01 at 15 51 38](https://cloud.githubuserco

[2015-10-02 09:05] gabemart commented on #1419
I think this change is intentional. The "Save" button applies both to changes in the group name and to changes in the "repeat question group" status of the question. making the save button inline with the group name makes it confusing when editing the "repeat question group" status, because then the "save" button appears before the checkbox it applies to.

It would be possible to separate this fun

[2015-10-02 09:23] janagombitova commented on #1419
@gabemart
1. Could you position the save button + cancel to the bottom of the 'edit group name' window? As we have when creating new questions. (Then it could be understood as it applies to the entire editing the user does here)
2. Related to that, can you also quickly change 'edit group name' to 'Edit group'?

[2015-10-02 11:02] gabemart commented on #1419
@janagombitova done now

![image](https://cloud.githubusercontent.com/assets/2589977/10245206/4b704e94-68fd-11e5-9fdb-91ae95caa766.png)

![image](https://cloud.githubusercontent.com/assets/2589977/10245215/6394646a-68fd-11e5-89b2-b635cf9da13f.png)

![image](https://cloud.githubusercontent.com/assets/2589977/10245223/732bf69a-68fd-11e5-800e-dce384932c7d.png)

I have changed the text from "Edit grou

[2015-10-02 11:22] gabemart commented on #1419
# Test Plan

1) Edit a survey that has a question group

2) Verify the text of edit button next to "hide questions" is "edit group"

3) Hit the edit button

4) Verify the "save" button appears below the input

5) Save, then hit "show questions", then toggle the "repeat this group" checkbox

6) Verify the "save" button appears below the "repeat this group" help text

[2015-10-05 08:31] akvotender commented on #1389
Assigned to [Tender discussion #5975](http://flowhelp.akvo.org/discussions/problems/5975-ssh4a-wash-survey-in-nepal).

[2015-10-05 09:02] rumca commented on #1419
test plan passes as described

[2015-10-05 09:02] #1419 closed

[2015-10-05 09:09] rumca commented on #269
Expected behaviour on monitoring tab restored :+1:

[2015-10-05 16:25] rumca opened #1424 "Filter behaviour on Monitoring Tab"
This might be the intended behaviour (in which case please ignore this!)

When you fill out the data point name on the monitoring tab to filter the results, it looks like the survey selected in the drop down is completely ignored and all monitoring surveys are searched. Here you can see that I am searching for 1.9.1 MF Surveys:

![screen shot 2015-10-05 at 17 21 16](https://cloud.githubusercontent

[2015-10-05 16:42] rumca opened #1425 "Minor Issue - Numerical values stored differently on import"
When we create new data points with the spreadsheet importer theres a slight discrepancy between the format of the number in the import file, and the way we are storing them in the dashboard. Integers seem to be implicitly converted to doubles or something:

![screen shot 2015-10-05 at 17 32 02](https://cloud.githubusercontent.com/assets/3003031/10286937/502403e4-6b88-11e5-88ea-327c37e2d4d1.png)

[2015-10-06 08:35] #1400 closed

[2015-10-06 08:45] muloem opened #1426 "Release Notes 1.9.1"

[2015-10-06 11:29] akvotender commented on #1417
Assigned to [Tender discussion #5969](http://flowhelp.akvo.org/discussions/problems/5969-getting-only-translations-in-raw-data-report).

[2015-10-06 13:23] janagombitova opened #1427 "Block a device"
Disable a 'blacklisted' device from communicating to the dashboard and vice versa

[2015-10-07 03:46] joycarpediem opened #1429 "Make the whole cascade available in the data editing dialog"
Issue:
Currently when we open a record for editing in the Inspect data tab, the cascade question is visible as a "|" separated string.
Partners are raising concern that it is too easy to mess up the record and since this is vital information , so they want dropdowns containing the cascade data as part of the data editing dialog

[2015-10-07 09:21] janagombitova opened #1430 "In Devices tab fix the table header"
As we fixed the position of the 'Manage device groups' and 'Add to device group' and 'Remove from device group', we should also fix the header of the table (which holds IMEI, Phone number, Device ID, Device group, Last contact, Version). This will enable the users to understand the columns after scrolling down the list of devices.

![screen shot 2015-10-07 at 11 15 04](https://cloud.githubusercont

[2015-10-07 09:24] janagombitova commented on #1415
**Related issue:**

In Monitoring subtab, in the Survey column, the form string does not distinguish between a registration form and the other forms. All the names (strings) are identical.

[2015-10-07 09:29] janagombitova opened #1431 "Fix Show on map button - geoshapes"
Part of cartoDB milestone 2 - closing issue

[2015-10-07 09:35] #1431 closed

[2015-10-07 09:48] janagombitova commented on #46
Will not be part of FLOW - more functionality in DASH, based on current decisions. Closing issue.

[2015-10-07 09:48] #46 closed

[2015-10-07 09:49] #621 closed

[2015-10-07 09:51] janagombitova commented on #742
Will be solved with CartoDB integration.

[2015-10-07 09:51] #742 closed

[2015-10-07 09:52] janagombitova commented on #644
Will be solved with CartoDB integration

[2015-10-07 09:52] #644 closed

[2015-10-07 10:10] ichinaski opened #1432 "NPE when accessing the SurveyInstance Key before it's saved into the datastore"
# Overview

This exception can be thrown on [SurveyInstance.java:319](https://github.com/akvo/akvo-flow/blob/master/GAE/src/org/waterforpeople/mapping/domain/SurveyInstance.java#L319-L320), when the datapoint name is not set and the survey contains some questions flagged as datapoint name.

The fix is to first fetch the questions in the SurveyInstance itself (no datastore access), and if these hav

[2015-10-07 11:21] ichinaski commented on #1432
**Test plan:**
a) Submit new datapoints with non-mandatory questions flagged with data point name. (NPE should be gone)
b) Ensure data cleaning (report import) keeps working as expected.

[2015-10-07 17:33] rumca opened #1434 "Basic Selenium Tests for FLOW"
We would like to add some initial basic Selenium test cases for FLOW, to start with covering:
- Quick checks - log in, elements present, groups loaded
- Survey creation
- Survey deletion

[2015-10-07 18:08] jonase opened #1435 "Comprehensive Report regression"
With the addition of repeatable question groups to the raw data report there was a regression where we didn't generate the comprehensive report when requested. We should add this feature back to the report generation.

[2015-10-08 12:35] akvotender commented on #1403
Assigned to [Tender discussion #5744](http://flowhelp.akvo.org/discussions/problems/5744-fw-updating-the-questionnaire).

[2015-10-08 12:40] muloem opened #1437 "Review API property names"
At the moment some of the properties returned by the API requests are not very clear e.g. `newLocaleSurveyId`.  As the API is used more, we would like to have the properties returned be as self describing as possible.

[2015-10-08 12:59] akvotender commented on #1416
Assigned to [Tender discussion #5993](http://flowhelp.akvo.org/discussions/problems/5993-user-tab).

[2015-10-09 08:04] janagombitova opened #1438 "Geoshapes - Minor app fixes"
- add a order number to each newly created point on the map. This is for the users to keep track on which point they added as last and create the shape they want. (Many times users loose track when creating complicated shapes and eventually end up with an odd shape, simply because they connected the wrong points - issue mentioned by Aulia)

[2015-10-09 10:13] janagombitova commented on #1408
@jonase @kymni @muloem. This is the last part of the geoshapes implementation. The export of shapes was one of the deliverables agreed upon with SNV and I based the definition on the requirements from their side. I would like to know your opinions. Can we look into this and see how to tackle it?

[2015-10-09 10:20] janagombitova commented on #1356
@jonase @kymni One detail that we need to add is, when we render to computed values (Number of points:, Total size:, Length:) there is now unit shown. We need to add the unit to make it clear what the size and length is.

[2015-10-09 11:47] jonase commented on #1408
@janagombitova Is this part of milestone 2?

[2015-10-09 12:18] janagombitova commented on #1408
@jonase No, it is not. The deadline is by the end of this year, so December. Lets take time to research this properly and find a suitable solution.

[2015-10-09 12:50] muloem opened #1439 "Enable question dependency within repeat question groups"
It should not be possible to have a question dependent on another question that is within a repeat question group, if the two questions are not in the same group. However, if they are **within the same question group** it should be possible.

[2015-10-09 12:54] akvotender commented on #1439
Assigned to [Tender discussion #6011](http://flowhelp.akvo.org/discussions/problems/6011-dependent-option-issues).

[2015-10-09 13:21] janagombitova commented on #1438
Added into Flow-mobile repository

[2015-10-09 13:21] #1438 closed

[2015-10-09 13:23] janagombitova commented on #1069
Closing issue as it is handled with the above referenced issues

[2015-10-09 13:23] #1069 closed

[2015-10-09 13:59] muloem commented on #1439
### Test Plan

#### Pre-test prep

Create a survey with at least 3 question groups. ensure the one in the middle is set as a repeatable question group and in the first two groups include option questions first and then a mix of other types of questions. In the third group include different kinds of questions.  Publish the survey and assign to a device.

#### Test 1: Dependency across repeat questi

[2015-10-12 10:02] muloem commented on #1417
The duplication of question groups appears to have been caused by a timeout when processing tasks in the backend. The time out resulted in the duplicated question groups being created but not saved with the link to then newly copied survey.

[2015-10-13 08:05] janagombitova commented on #1421
### Test plan

**Preparation**
Create a survey with repeated question groups. Collect data. Each submission should hold a different number of repeated iterations.

**Test 1**
1. Under the Data cleaning tab download a survey with repeated question groups.
2. In Excel change the data (spelling, number change, delete data from a cell), but do not change the report structure.
3. Under the Data cleanin

[2015-10-14 09:28] muloem commented on #1403
The issue of having to republish surveys is also reported under #1118.

[2015-10-15 05:51] muloem commented on #875
@janagombitova regarding the changes connected to dates there are actually three separate issues that I can identify.

1. the format in which to render on the dashboard. we should unify this and make it  a simple one since its for the user.  I would propose something like YYYY/mm/dd that is common enough on the dashboard and is what we use in the calendar selectors. (relevant for #1389 and #571 ab

[2015-10-15 06:15] muloem commented on #1439
Already included in hotfix release https://github.com/akvo/akvo-flow/releases/tag/v1.9.1.3

[2015-10-15 06:15] #1439 closed

[2015-10-15 06:17] muloem commented on #1432
Hotfix in https://github.com/akvo/akvo-flow/releases/tag/v1.9.1.1

[2015-10-15 06:17] #1432 closed

[2015-10-15 06:31] muloem opened #1442 "Performance improvements loading survey questions and question options (estimated: 8)"
While loading surveys we make a request to the `GET /questions?surveyId=` end point. Loading surveys that contain lots of `OPTION` type questions results in a timeout due to the deadline exceeded exceptions from GAE.  There are some straight forward improvements that can be made in the retrieval of questions and their associated components to improve on the current performance.

* [x] Retrieve the

[2015-10-15 10:10] muloem opened #1443 "`Null` values in the `QuestionAnswerStore` entities cause results to be skipped in report"
When processing survey responses during generation of a report, if the `value` for the `QuestionAnswerStore` entity is `null`, an `ArrayIndexOutOfBoundsException`  is thrown and the resulting row is skipped in the raw data report.

See this line:
https://github.com/akvo/akvo-flow/blob/v1.9.1/GAE/src/org/waterforpeople/mapping/dataexport/service/BulkDataServiceClient.java#L346

[2015-10-15 10:22] akvotender commented on #1417
Assigned to [Tender discussion #6027](http://flowhelp.akvo.org/discussions/problems/6027-copying-icon-continuously-running).

[2015-10-15 23:34] muloem commented on #1435
Hotfix created https://github.com/akvo/akvo-flow/releases/tag/v1.9.1.2

[2015-10-15 23:34] #1435 closed

[2015-10-15 23:34] #1426 closed

[2015-10-16 09:36] janagombitova commented on #875
@muloem Thanks for the overview and suggestions. All sounds good. Should we address is one step at a time, or all at once?

[2015-10-16 12:33] muloem commented on #1443
### Test Plan

1. Find a survey containing responses with `null` `QuestionAnswerStore` entities.

2. Generate a raw data report for this survey

3. Verify that the `SurveyInstance` entity connected to the `null` response is included in the list of generated rows in the report

[2015-10-21 06:42] jonase opened #1445 "User tab does not render in Firefox 41"
This is due to a [Clojurescript compiler bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1138325). Updating the compiler to a more recent version should resolve the issue.

## Testplan

* Open the User tab in Firefox v.41 or later and Safari. The page should render correctly.
* **note**: There are some new warnings emitted when building the dashboard but [these should be harmless](https://groups

[2015-10-22 08:45] muloem commented on #1421
All work or RQG import has been handled under the original issue #269. Closing this one.

[2015-10-22 08:45] muloem commented on #269
For the test plan regarding **RQG import** look at the issue #1421

[2015-10-22 12:31] muloem commented on #269
@janagombitova do we already have documentation for the repeat question groups import?

[2015-10-23 08:03] akvotender commented on #1445
Assigned to [Tender discussion #6077](http://flowhelp.akvo.org/discussions/problems/6077-adding-a-user).

[2015-10-23 12:31] janagombitova commented on #269
No we don't, but I can type it down. What are the 'warnings' (things the user should not mess around with when importing) that I should add? @jonase @muloem

[2015-10-23 12:46] jonase commented on #1356
## TestPlan

@jonase TODO

[2015-10-26 09:37] Geerts commented on #1445
The same issue has been reported in Safari as well (http://flowhelp.akvo.org/discussions/problems/6077-adding-a-user). However, I was not able to reproduce this.

[2015-10-26 09:52] akvotender commented on #1445
Assigned to [Tender discussion #6087](http://flowhelp.akvo.org/discussions/problems/6087-browser-issues).

[2015-10-26 12:24] janagombitova commented on #1427
Will be tackled with better user registration and especially moving from devices to users on the app

[2015-10-26 12:24] #1427 closed

[2015-10-26 12:30] janagombitova opened #1451 "Change font color on subtabs"
Currently the sub-tabs if not selected have a grey background and grey font. This color choice makes the tabs appear as disabled. Once hovered over the background changes to a darker grey and the font to white. A selected tab has white fonts and a black background.

![screen shot 2015-10-26 at 13 25 40](https://cloud.githubusercontent.com/assets/12456965/10728771/14d0aa1e-7be5-11e5-8e7b-bd361292c8

[2015-10-26 13:03] janagombitova commented on #1408
Information received from partner: Exporting shapes: This is what I need as GIS person. Either shapefile (*.shp) or *.kml format will be good. Especially if the exported *.shp or *.kml also can bring all the attributes that has been surveyed. Based on that *.shp or *.kml, further analysis can be done.

[2015-10-26 13:54] muloem commented on #1417
### Test Plan

1. Create a survey with lots of option questions e.g 25 each with lots of options 100 options per question

2. Copy the survey and check to ensure that it all copies and all groups in the copied survey do not remain with the *Copying* spinner showing i.e copying completed.

[2015-10-26 14:54] janagombitova opened #1453 "Signature question type"
https://github.com/akvo/akvo-product-design/issues/117

[2015-10-27 09:47] janagombitova opened #1455 "Disable multi-select of different geoshapes under one question"
Currently when adding a geoshape question to a form, the user can decide to enable all three types of shapes. It is very rare that a partner would collect more shape types under one question, it makes the analysis of geoshapes more complicated, and with many GIS tools a question holding more shapes is impossible to import.

The solution is then to disable the option to add all three shapes to one

[2015-10-27 09:48] janagombitova commented on #1455
@joycarpediem @jonase @Kiarii @ichinaski @mtwestra Can you please take a look at this proposed change? It is due to the work we are currently doing for the export geoshape functionality and I would like to know your opinion and check if we did not miss something? Thanks

[2015-10-27 10:06] mtwestra commented on #1455
@janagombitova:
1) the first (dashboard) change is fine
2) I don't think the second one is possible, because it is then impossible to add multiple shapes.

[2015-10-27 11:27] ichinaski commented on #1455
@mtwestra

As far as I understand, the purpose of the change is precisely to prevent more than one shape in one response.

From my point of view, the changes do make sense. Having a single shape per question seems very straightforward to me, and would get rid of some complexities currently present in this feature (selection issues, response incompatibilities across tools, etc).

[2015-10-27 11:34] joycarpediem commented on #1455
@mtwestra @janagombitova @ichinaski , yes the intention is to simplify . The ability to capture multiple shapes in one question is an edge case. If we do want to persist with it , we can just add a "Allow multiple" flag in the question description in the dashboard in which case the app user will have to use the "+" icon in the app.

[2015-10-27 12:29] Kiarii commented on #1455
I also feel that this would simplify things on both the Dashboard and app sides (i.e. if I am correct; In the Dashboard this corresponds to 'a' geoshape creation options not multiple shapes...)

[2015-10-27 16:09] jonase commented on #1408
## Proposed initial implementation

After discussions with @janagombitova and @joycarpediem we will approach the geoshapes export by exporting a single geoshape question into geojson files with the following structure:

[code]

* On the top level `FeatureCollection` we record the `surveyId`, `formId`, `questionId` and `questionText` as metadata under `properties`
* Each response will be a separate

[2015-10-27 16:13] jonase opened #1457 "Raw Data Reports don't handle all languages correctly"
Responses are rendered as `???` for at least *Khmer* and *Vietnamese* languages (and probably others as well). We need to ensure proper encoding/decoding when transferring data from GAE to flow-services.

[2015-10-27 16:19] jonase commented on #1457
## TestPlan

* Create some responses with *Khmer* and/or *Vietnamese* characters
* Export the report. The report should correctly render the characters and not just display question marks such as `??? ??`.

[2015-10-28 08:40] janagombitova commented on #1455
So based on your comments, these are the points we need to decide on:
-  On the dashboard we change the shape type selection from checkboxes to radio buttons, which will enable the user to only define one exact shape per question.
- We need to decide - whether to provide the option 'Allow multiple shapes' - which will give the user the option to choose from all three shapes on the app and add them

[2015-10-28 08:44] joycarpediem commented on #1455
@janagombitova , ^^ looks fine, but i would not show the "add shape" button in the app if allow multiple is not selected for the question.

[2015-10-28 11:12] mtwestra opened #1459 "API delivers image URL as defined by device"
Currently, the URL of image that is delivered by the API is the same as the stored URL, i.e., the one that is defined by the device. In that URL, the device storage path is included.

For the API, this doesn't make sense. We should deliver the actual path to the image on S3 instead.

[2015-10-28 15:38] akvotender commented on #1457
Assigned to [Tender discussion #6121](http://flowhelp.akvo.org/discussions/problems/6121-data-download).

[2015-10-29 08:47] janagombitova commented on #1455
After talking with @joycarpediem and @muloem we decided to **take out** the option to allow multiple types of shapes and multiple shapes under one question. This is due to the fact that, (1) if the shapes are nested, GIS tools will not be able to separate them out and the user needs to have sufficient expertise to separate them.  can make that work. (2) The real life usage of plotting multiple sha

[2015-11-01 19:46] rumca commented on #1445
The users tab loads & functions correctly on both firefox and safari.

[2015-11-01 19:46] #1445 closed

[2015-11-01 22:11] rumca commented on #1443
I think this test plan passes - I found one QuestionAnswerStore entity with a null value on UAT, the report downloads with the expected 4 responses. Additionally I manually set a null value in the datastore and the report generated as expected.

[2015-11-01 22:11] #1443 closed

[2015-11-01 22:18] rumca commented on #1389
removing this from the milestone as the code for it is committed against 1356

[2015-11-01 23:32] rumca commented on #1323
I think the test plans for this are captured in issue number 317 on the mobile repo, but just to confirm that I see what I think is the correct new format in reports as below:

![screen shot 2015-11-01 at 23 24 32](https://cloud.githubusercontent.com/assets/3003031/10871995/e22dd2ca-80ef-11e5-9489-4ed29e150f60.png)

(showing one old response and one new one)

I'm going to close this issue and if w

[2015-11-02 00:57] rumca commented on #1356
@jonase some comments:

* Not sure if it's just my connection, but the call to `survey_groups` when you click on the map tab seems to be really really long from a usability perspective. I know it's the same as the initial loading on the surveys tab but it's consistently taking ~9 seconds to populate the drop down every time you visit the maps tab with no indication that it's actually loading anyth

[2015-11-02 01:48] rumca commented on #269
@jonase any idea what's causing the below from the logs on flowdev1?

[code]

[2015-11-02 09:23] janagombitova commented on #1415
@muloem as we will be migrating the Inspect Data tab and the Monitoring tab for the work related to webforms, is this issue still relevant?

[2015-11-02 09:33] janagombitova opened #1460 "Add two new permissions: View data and Edit data"
Currently no permissions cover viewing data and editing data. There are many cases, where not each user should have the right to especially edit collected data. As we have a detailed permission structure on the folder and form level - view, edit, delete, create, we should follow this structure also for collected data. Currently we have a permission only to Delete data. The idea at this point is to

[2015-11-02 10:01] janagombitova commented on #1408
#### UI deliverables under Reports tab > Export reports sub-tab: SUGGESTIONS:
- create new report type:
   - Title: Export geographic shape
   - Text: Export a geographic shape and all data from a single form in a geojson file. In order to create this report you need to select your question containing a geographic shape from the chosen survey. This file type can be then transformed into .kml or .s

[2015-11-02 10:40] rumca commented on #1417
@muloem I totally misread this test plan and ended up creating 50 questions with 100 options each - the subsequent copy fails and throws an exception for both surveys:

[code]

This seemingly has the effect of deleting the questions on the original survey. The original groups are present when I view the survey, but none of the questions are there.

Should we just chalk this up to the survey being

[2015-11-02 10:52] joycarpediem commented on #1408
@janagombitova +1

[2015-11-02 20:43] muloem commented on #1417
@rumca yes I think that is what we should do for now.  Later we can figure out a reasonable but acceptable size with which to stress test the system.

[2015-11-03 07:05] kymni commented on #1356
@rumca @jonase was able to replicate the dropdowns bug, there's a jquery event being fired multiple times when the cartodb map is loaded. I am working on a fix

[2015-11-03 11:07] rumca commented on #1417
Disregard my previous comment, seems this is unrelated to the copying functionality. A survey with 25 questions each with 100 options will always through the above exception when trying to display them.

[2015-11-03 12:30] rumca commented on #1417
Everything looks OK with the below steps:

* Set up a survey with two groups of 5 option questions, each with 100 options
* Copy the survey
* Verify the copy has all questions
* Verify no duplicates in original

@muloem is this enough to close this issue?

[2015-11-03 12:32] janagombitova commented on #1408
Jana to do: revise the text sentence to make more clear. Otherwise it is good to go.

[2015-11-03 12:58] muloem commented on #1417
@rumca yes I think this is enough for this release.

[2015-11-03 13:00] #1417 closed

[2015-11-03 14:40] akvotender commented on #1416
Created via Reamaze:

Link: https://akvoo.reamaze.com/admin/conversations/test-multiple-e-mail-participants
Assignee: Geert Soet

Message:
--
Met vriendelijke groet,

[2015-11-03 14:51] janagombitova opened #1462 "Text in in-line help box for French and Spanish versions does not fit"
Under the Devices tab we have added an in-line help text next to the IMEI, for the Spanish and French versions the last parts of the text is missing. This is probably due to the size of the box.

<img width="530" alt="screen shot 2015-11-03 at 15 46 45" src="https://cloud.githubusercontent.com/assets/12456965/10910897/582e44f2-8242-11e5-8a0c-51954be12515.png">

[2015-11-03 14:57] janagombitova opened #1463 "Fix view of repeated question groups in Inspect data tab and Monitoring tab"
The UI of when previewing collected data under the Inspect data tab and Monitoring tab is not consistent. Furthermore the Monitoring tab does not show the question group structure. This results in a repeated question group not being rendered properly.

**Inspect data tab** - the question group name should be visually different from the question-answers and separated.

![screen shot 2015-11-04 at 0

[2015-11-03 15:34] kymni opened #1464 "Fix hierarchical survey selection bug where events are fired twice"

[2015-11-04 06:12] akvotender commented on #1416
Created via Reamaze:

Link: https://akvoo.reamaze.com/admin/conversations/akvoflow-support-request-number-4617-from-geert-at-akvo-dot-org
Assignee: Joy Ghosh

Message:
[AKVOFLOW] Support request #4,617 from geert@akvo.org

Geert Soet (https://akvoflow.supporthero.io)

User email: geert@akvo.org
 Request Info
Device:  Personal computer
Browser:  Chrome 46.0.2490.71
OS:  OS X 10.10.5
IP Address:  95

[2015-11-04 08:52] janagombitova commented on #1463
@muloem if we decide to merge the Inspect data tab and Monitoring tab, this can be solved with the merger. However, it also depends on when we will implement the merge.

[2015-11-04 11:00] akvotender commented on #1460
Assigned to [Tender discussion #6133](http://flowhelp.akvo.org/discussions/problems/6133-new-permission-setting-view-only-role-needed-requested-by-lars).

[2015-11-04 11:00] akvotender commented on #1322
Assigned to [Tender discussion #6133](http://flowhelp.akvo.org/help/discussions/problems/6133-new-permission-setting-view-only-role-needed-requested-by-lars).

[2015-11-04 11:01] muloem commented on #269
@janagombitova Could you include something in the documentation about having to include the numbers in the repeat column?

[2015-11-04 11:02] akvotender commented on #1124
Assigned to [Tender discussion #6133](http://flowhelp.akvo.org/help/discussions/problems/6133-new-permission-setting-view-only-role-needed-requested-by-lars).

[2015-11-04 12:08] janagombitova commented on #269
@muloem yes. will do today/tomorrow

[2015-11-04 12:39] akvotender commented on #1445
Assigned to [Tender discussion #6161](http://flowhelp.akvo.org/discussions/problems/6161-no-subject).

[2015-11-04 14:15] janagombitova commented on #1370
@kymni @jonase Can we tackle in this milestone, as what Ruarcc pointed out, as to show in the Map tab not only polygons, but also lines and points collected via the geoshape question? This means expanding the current feature: open Map tab > click on point > shows geoshape polygon in the side bar + option to render on main map as well.

**Limitation:** Cases where multiple shapes, or multiple types

[2015-11-04 15:57] muloem opened #1469 "Release Notes 1.9.2"

[2015-11-04 16:01] rumca commented on #1421
I think after discussion with @jonase Test Case 2 isn't correct, it should be possible to delete iterations by removing them from the raw data report.

Apart from that - the remaining test cases all pass :sweat: :tada:

[2015-11-04 16:01] #1421 closed

[2015-11-04 16:24] rumca commented on #1356
All of the above issues have been addressed :+1:

[2015-11-04 16:24] #1356 closed

[2015-11-04 17:48] rumca opened #1470 "Minor Cascade Editor enhancement - deselect child nodes when parent deleted"
This is a pretty small issue, but I think it should be quite quick to fix. When you delete a parent node that you have selected a child node on in the cascade editor, the child node is left behind once the parent has been deleted:

![screen shot 2015-11-03 at 15 47 41](https://cloud.githubusercontent.com/assets/3003031/10946736/d734bac2-831b-11e5-95db-02a2ba33f2d4.png)

`Paris 13e arrondissement`

[2015-11-05 09:27] #1464 closed

[2015-11-05 10:11] rumca commented on #269
Closing this for now - all current work completed and tested.

[2015-11-05 10:11] #269 closed

[2015-11-05 13:51] muloem opened #1471 "Hide private data script"
The script to hide private data skips some data points that have the old `pointType` parameter defined.

[2015-11-05 14:27] muloem commented on #1415
@janagombitova this is what it looks like

<img width="1257" alt="no_form_column" src="https://cloud.githubusercontent.com/assets/533336/10970921/c2f399e6-83d1-11e5-98ee-a39a885ee5fa.png">

[2015-11-05 14:29] muloem commented on #1415
### Test Plan

1. Visit the *Inspect data* tab and preview responses for a particular survey

2. The *Form* column should **not** be showing

[2015-11-05 15:38] janagombitova opened #1474 "CartoDB integration - add filtering private and public data to enable CartoDB on public map"
We are working on adding CartoDB to maps on live instances. The focus was put on the map inside the FLOW dashboard, the one visible after the user logs in.

We want to add CartoDB map to the public map as well, however this map can only show public data. Thus this milestone aims to make sure that CartoDB recognises public and private data, is added to the public map and there displays only public

[2015-11-05 15:45] janagombitova opened #1475 "Fix scrolling on CartoDB maps"
Proposal: Disable scrolling on the Maps page **entirely**. Thus the header and footer will always be visible and the filter options will not disappear due to scrolling. When the user scrolls with the mouse over the map, map zooms in and out (as it currently does).

Limitation: This solution does make the map smaller, especially when previewing in smaller screens. However the confusion regarding th

[2015-11-05 15:45] janagombitova commented on #1389
Issue completed - closing

[2015-11-05 15:45] #1389 closed

[2015-11-05 16:43] #1469 closed

[2015-11-05 16:45] muloem opened #1476 "Report generation always includes repeat column"
In the current report generation, we always include the `Repeat no` column that reflects the iterations in a repeat question group.  However, in some surveys that don't contain repeat question groups this is not necessary and confuses the user as they have to include an iteration number that has nothing to do with their survey.  The proposal is to remove this column from reports based on surveys t

[2015-11-05 17:07] muloem commented on #1299
### Test Plan

1. Create a monitoring survey with a registration form and some sample questions

2. Fill in over 20 responses (data points)

3. Check the monitoring tab on the dashboard. There should be a list of data points and clicking on the `Next` button should show the next items in the list

[2015-11-06 10:35] akvotender commented on #1460
Assigned to [Tender discussion #6127](http://flowhelp.akvo.org/discussions/problems/6127-view-only-access-to-akvoflow).

[2015-11-06 11:26] jonase opened #1477 "Enhance answerCreated and answerUpdated events"
* With the new Repeatable Question Groups we will need to add `iteration` to `answerCreated` and `answerUpdated` events for the Unilog
* The answers value can be in either the `value` property or the `valueText` property.

[2015-11-06 15:13] janagombitova commented on #1451
### Test Plan:

1. Click on Devices - verify that the selected sub-tab is visually different than the non-selected ones.
2. Verify that the font color of the non-selected sub-tabs has changed from grey to a different color and the non-selected tabs do not appear as if disabled.
3. Hover over a non-selected tab and verify that the sub-tab's color changes upon hovering.
4. Select another sub-tab, ve

[2015-11-06 15:16] janagombitova commented on #1415
There is one more issue added here:

**Related issue:**
In Monitoring subtab, in the Survey column, the form string does not distinguish between a registration form and the other forms. All the names (strings) are identical.

@muloem Are we going to leave this one out for now, because of the work related to Webforms (Combining Inspect data and Monitoring)?

[2015-11-10 08:14] kymni commented on #1370
@janagombitova @jonase picking up on this under branch feature/1370-geoshapes-inspect-data

[2015-11-10 10:28] muloem opened #1479 "Change in data privacy setting is not reflected on the map"
Data points for surveys containing geotagged data are shown on the map if the survey is indicated as `PUBLIC`.  However when a user switches this setting to `PRIVATE` they expect that the data points are no longer shown on the map but this is not the case.  The same is observed if the switch is made form `PRIVATE` to `PUBLIC`.  The data points are not visible.  We need to make this switch automati

[2015-11-11 12:42] kymni commented on #1370
## Test Plan
Loading a geoshape question answer in the inspect data tab loads a map
![screen shot 2015-11-11 at 15 36 01](https://cloud.githubusercontent.com/assets/1155088/11091340/9045d014-888a-11e5-8382-1e55196929b2.png)

Loading a geoshape question answer in the monitoring tab loads a map
![screen shot 2015-11-11 at 15 36 45](https://cloud.githubusercontent.com/assets/1155088/11091355/a87beefc

[2015-11-12 09:07] janagombitova commented on #1455
Secondly, we need to see how to handle backwards compatibility regarding the app communicating with old survey definitions that still have the flag "allow multiple" on.

We have decided tho implement this change do to the unpracticality to upload an exported geoshape to a GIS tool. If an export holds multiple shapes, the user would have to do some extra transformations to make the file compatible

[2015-11-12 09:31] janagombitova opened #1483 "Allow to add and specify 'unit' for number questions"
For example: the costs per l of water -> they enter 0,58 -> on the dashboard this will appear: 0,58  $/L
The Admin can indicate this unit when entering the question on the dashboard via symbols like €,$, %, but also indicators that will be measured with Caddisfly in the future like conductivity, temperature etc. The 'unit' will then be visible on the app next to the input field, on the dashboard a

[2015-11-12 09:37] akvotender commented on #1483
Assigned to [Tender discussion #6187](http://flowhelp.akvo.org/discussions/problems/6187-marking-of-units-of-measurements-to-appear-on-the-dashboard).

[2015-11-12 10:02] iperdomo commented on #1483
@janagombitova some forms already have unit of measure in the question, e.g. _"How much was the production this year (Tons)?"_

[2015-11-12 11:33] janagombitova opened #1484 "Export reports tab - fix the dropdown selection so it does not disappear with scrolling"
In the Export reports tab the user has to first select a folder > survey > form before he decides which report to generate. If he scrolls down the page to the last report type, he does not see the selected survey in the dropdown anymore, and thus looses overview.

<img width="1127" alt="screen shot 2015-11-12 at 12 33 36" src="https://cloud.githubusercontent.com/assets/12456965/11117386/a1a509ba-8

[2015-11-12 12:07] gabemart commented on #1484
Solution: affix the dropdown menus to the top of the container so that they are always visible

![image](https://cloud.githubusercontent.com/assets/2589977/11117945/fc3ae6fa-8935-11e5-8965-fcbaea0ab1c4.png)

[2015-11-12 12:08] gabemart commented on #1484
#Test plan

1) Navigate to Reports > Export Reports

2) Scroll to the bottom of the page

3) Verify that the dropdown menus allowing the selection of a form are still visible

4) Verify the dropdown menus are still functional

[2015-11-13 08:53] jonase commented on #1408
## Test Plan

* Create a survey with a geoshape question (as well as other question types)
* Create a few responses where the geoshapes are **polygons** and not points or line segments
* Go to the `Reports/Export Reports` tab and select the folder/survey/form
* In the section *Export geographic shape* choose the geoshape question
* Click *Export Geoshape*
* (if you don't specify a geo question you

[2015-11-13 09:11] jonase opened #1486 "Handle date questions correctly in raw data imports"
Currently there's a regression where we send back the date formatted string instead of the timestamp

[2015-11-13 09:14] jonase commented on #1486
## Test Plan

* Create a form with some date questions and create a few responses
* Export the form for data cleaning
* Change some of the instances so they will be part of data cleaning
* Upload the report
* Check the google app engine datastore and make sure that the uploaded date question values contain timestamps and not date formatted strings.

[2015-11-13 09:30] jonase commented on #828
## (pre) Test Plan

This issue is not feature complete yet but we have added some initial support for Option codes in exports. There should be no user visible changes when exporting reports with option questions and if there are, it should be regarded as a regression.

[2015-11-13 10:17] jonase commented on #1323
## TestPlan

Test Plan for cascade questions with codes support in the raw data reports

* Create two different cascade resources. One with codes and one without codes
* Create a form with different question types including two cascade questions which uses the previously created resources
* Submit a few responses with the device
* Go to "Reports > Export Reports" and select the folder/survey/form

[2015-11-13 10:44] akvotender commented on #1367
Assigned to [Tender discussion #6247](http://flowhelp.akvo.org/discussions/problems/6247-missing-folder-in-our-flow-instance).

[2015-11-13 14:43] muloem commented on #1484
@gabemart could these changes have resulted in the whitespace in screenshots below?

* Between selection menu and the gray box.
<img width="1260" alt="screen shot 2015-11-13 at 15 40 30" src="https://cloud.githubusercontent.com/assets/533336/11148457/24763114-8a1d-11e5-9eeb-24cc4dbe47f8.png">

* Between the two gray boxes.
<img width="1267" alt="screen shot 2015-11-13 at 15 40 46" src="https://clo

[2015-11-13 15:04] gabemart commented on #1484
@muloem Nice catch :+1 should be fixed now

[2015-11-13 15:10] #1484 closed

[2015-11-16 02:35] joycarpediem commented on #1483
Using of the unit in the question text works quite well and is pretty widely used. This way we also bypass the issues of pre/postfix depending on the symbol.
Also while data cleaning , some may mess with the symbols if it is at the cell level.
IMHO, what we have right now works well.

[2015-11-16 08:09] janagombitova commented on #1483
@joycarpediem  Thanks for sharing. I will share this with the users requesting it and closing this issue

[2015-11-16 08:09] #1483 closed

[2015-11-16 10:54] janagombitova commented on #1407
**Mock ups:** [Custom maps.pdf](https://github.com/akvo/akvo-flow/files/35395/Custom.maps.pdf)

[2015-11-16 14:07] muloem commented on #1124
### Test Plan

#### Pre test prep
Ensure there are at least two users present on the system. One `AdminUser` and `ReadOnlyUser`.  Using the `AdminUser`, create a survey with a few questions.  Create a new role `ReadOnly` and select the permissions `View Folders` and `View Forms` under this role.  Assign the `ReadOnlyUser` to this folder with the `ReadOnly` role.

#### Test 1: View only surveys

1.

[2015-11-16 14:14] muloem commented on #1125
### Test Plan

1. Create a survey monitoring or not with a number of questions

2. Fill in over 20 responses. (over 40 responses even better)

3. Go to  the inspect data tab and browse the responses and ensure that you are correctly able to browse back and forth between the pages using the `Next` and `Previous` buttons

[2015-11-16 14:20] muloem commented on #1415
@janagombitova yes I think indeed we shall leave this one for now and focus on the  refactor

[2015-11-16 17:24] muloem commented on #571
### Test Plan

1. Create a survey with a couple of questions one of them has to be a `DATE` question and another has to be a `GEO` question

2. Fill in a couple of responses and submit.

3. Cross check that on the map tab the dates are rendered correctly for these data points

[2015-11-17 09:19] iperdomo opened #1492 "Enable DataScripts to be executed in application context"
## Problem

Our current _DataScripts_ are Java code that interact with the datastore via the GAE Remote API, it seems this code gets executed outside the application context, therefore the installed Datstore callbacks are not triggered. This leads to not having data change event generation when fixing data via a datascript.

We need a new way of executing arbitrary code to fix/enhance data that ru

[2015-11-17 11:47] muloem commented on #1486
@jonase I would even extend the test plan to include checking that the dates changed in the report are the correct dates shown in responses.

[2015-11-17 11:52] jonase commented on #1486
@muloem Agreed. I will add this.

[2015-11-17 14:32] janagombitova opened #1493 "Change footer links to new Support page"
Related to the changes Geert made in support we need to redirect the links on the footer in the dashboard: **Support** and **Documentation and User guides**. Both need to direct the user to this page: http://flowsupport.akvo.org/

[2015-11-17 14:48] jonase commented on #1493
## Testplan

The "Support" and "Documentation and User Guides" links in the footer should point to  http://flowsupport.akvo.org/ for both the public and the admin pages.

[2015-11-17 15:56] muloem commented on #1460
### Test Plan

#### Pre-test prep

Ensure you have at least three different test users `AdminUser`, `ReadOnlyDataUser` and `EditDataUser`.  Create a monitoring survey with one of each question type and fill in a couple of responses in the registration form

#### Test 1: Add and remove view data and edit data permissions

1. Go to the users tab and define two new roles `ViewDataRole` and `EditDataR

[2015-11-18 09:47] janagombitova opened #1495 "Geoshape - expand the rendering to support 'line' and 'points'"
Currently we only support rendering of polygons in the new geoshape feature. This following step will involve supporting also 'lines' and 'points' when viewing the geoshapes in the Map tab and both sub-tabs of the Data tab (Inspect data and Monitoring)

[2015-11-18 12:56] Geerts opened #1496 "Trim down timestamp a date inside the raw data report"
When answering a date questions in the app you only see a date. In the raw data report a timestamp is included.

Current situation
04-11-2015 01:12:32 CET

Desired situation
04-11-2015

[2015-11-18 12:57] akvotender commented on #1496
Created via Reamaze:

Link: https://akvoo.reamaze.com/admin/conversations/removal-of-automatic-time-zone-indication-with-calendar-questions
Assignee: Geert Soet

Message:
Dear support,

My partner Tiipaalga asked if there is a possibility to have the time indication removed when answering to a calendar-question.

Right now all the answers appear with the date + 0.00h UTC. Since they are dealing wi

[2015-11-18 14:59] mtwestra opened #1497 "Add roles/permissions for cascades and assignments"
At the moment, cascades and assignments are not covered by roles and permissions, and this has caused some problems in the field.

The idea is to create permissions for cascades and assignments in two phases:
1) first introduce binary permissions: access / no access
2) later, introduce full detailed permissions: create / read / edit / delete

The reason is that we can first create the binary permi

[2015-11-18 16:26] mtwestra opened #1498 "Use BIRT for creating FLOW data reports"
In order to speed up raw data report creation, we will use BIRT to render reports.

[2015-11-19 09:03] muloem commented on #1408
@jonase can you maybe add in the test plan the cases for points and lines and what is expected?

[2015-11-19 09:04] jonase commented on #1408
@muloem sure :+1:

[2015-11-19 15:06] muloem opened #1500 "Documentation + Release Notes 1.9.3"

[2015-11-19 15:17] stellanl opened #2947 "FLOW reports using BIRT"
Producing FLOW reports using BIRT will let us make both raw-style reports for further processing by partners (Excel format) and nicely formatted reports customised to partner requirements (PDF, Word).

The main challenges are:
- Reports are generally tabular, whereas the FLOW questions and answers are relational. A report template will be valid only for a particular form. Further complications are

[2015-11-20 10:51] muloem commented on #1135
Already fixed in https://github.com/akvo/akvo-flow/issues/1197

[2015-11-20 10:51] #1135 closed

[2015-11-20 11:02] akvotender commented on #1416
Giel having the same issue.